<div id="modal-add-edit-DaoTaoNoi" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Tạo mới / Sửa trường Đào tạo</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainDaoTaoNoi">
                        <input type="hidden" id="hidDaoTaoNoiId" value="" />
                        <input type="hidden" id="hidInsertDaoTaoNoiId" value="" />

                        <div class="form-group">
                            <label for="lbAddEditTenTruong" class="control-label col-md-2 col-sm-2 col-xs-12 ">Tên trường</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtAddEditTenTruong" placeholder="Tên trường">
                            </div>
                            <label for="lbAddEditDiaChi" class="control-label col-md-2 col-sm-2 col-xs-12 ">Địa chỉ</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtAddEditDiaChi" placeholder="Địa chỉ trường">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbAddEditSoDienThoai" class="control-label col-md-2 col-sm-2 col-xs-12 ">Số điện thoại</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtAddEditSoDienThoai" placeholder="Số điện thoại">
                            </div>
                            <label for="lbAddEditEmail" class="control-label col-md-2 col-sm-2 col-xs-12 ">Email</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtAddEditEmail" placeholder="Địa chỉ Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSaveDaoTaoNoi" class="btn btn-success">Lưu</button>
                                <button type="button" id="btnCanceDaoTaoNoi" data-dismiss="modal" class="btn btn-default">Đóng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>