<div id="modal-add-edit-XemThongTinXuLy" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Xem thông tin xử lý đồng hồ </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive" id="table-responsiveXemThongTinXuLy">
                    <table id="tblXemThongTinXuLy" class="table table-striped jambo_table bulk_action" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nhân viên nhập</th>
                                <th>Ngày nhập</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody id="tblContentXemThongTinXuLy"></tbody>
                    </table>

                </div>
            </div>
        </div>

        <script id="table-XemThongTinXuLy" type="x-tmpl-mustache">
        <tr>
            <td>{{CreateBy}}</td>
            <td>{{CreateDate}}</td>
            <td>{{MoTa}}</td>
        </tr>
        </script>
    </div>
</div>
