
a.colorBack {
    clear: both;
    background: #333333;
    float: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    height: 20px;
    width: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

a.colorRed {
    clear: both;
    background: #e32b00;
    float: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    height: 20px;
    width: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

a.colorOrgane {
    clear: both;
    background: #ff6a00;
    float: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    height: 20px;
    width: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

a.colorGreen {
    clear: both;
    background: #00ff21;
    float: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    height: 20px;
    width: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

a.colorBlue {
    clear: both;
    background: #0026ff;
    float: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    height: 20px;
    width: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

a.colorWhile {
    clear: both;
    background: #FFFFFF;
    float: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    height: 20px;
    width: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

a.colorYellow {
    clear: both;
    background: #ffd800;
    float: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    height: 20px;
    width: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

a.colorBrow {
    clear: both;
    background: #b98686;
    float: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    height: 20px;
    width: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

a.colorPink {
    clear: both;
    background: #F778A1;
    float: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    height: 20px;
    width: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

a.sizeProduct {
    border: 1px solid #e8e6e2;
    padding: 3px 10px;
    color: #666;
    float: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
}
