@{ Layout = null; }

@*@Html.ActionLink("Shown Details", "Details", "Vendors", new { area = "Admin" })*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    @*<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">*@
    @*<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">*@
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="~/admin-side/images/powaco.ico" />

    <title>Login </title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- NProgress -->
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet" />

    <!-- Animate.css -->
    <link href="~/lib/animate.css/animate.css" rel="stylesheet" />
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/admin-side/css/custom.css" rel="stylesheet" />

</head>

<body class="login">
    @*<a href="#" id="allownoti">Cho phép thông báo</a>
        <a href="#" id="shownoti">Hiển thị thông báo</a>*@

    <div>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form id="frmLogin">
                        @Html.AntiForgeryToken()
                        <div>
                            <img src="/admin-side/images/powaco148.png" alt="...">
                        </div>
                        <br />
                        <div>
                            <input type="text" class="form-control" name="userName" placeholder="Tên người dùng" id="txtUserName" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" name="password" id="txtPassword" placeholder="Mật mã" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="#" id="btnLogin">Đăng nhập</a>
                        </div>
                        <br />
                        <div>
                            <a class="fa fa-android aAppAndroid" style="font-size:30px"
                               id="btnAndroid"></a>
                        </div>
                        <div>
                            <div class="clearfix"></div>
                            <br />
                            <p> ©2021  Công Ty Cổ Phần Điện Nước An Giang - POWACO (v3.2.0)</p>
                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/app/shared/tedu.js" asp-append-version="true"></script>
    <script src="~/app/shared/nguyen.js" asp-append-version="true"></script>

    <script src="~/app/controllers/login/index.js" asp-append-version="true"></script>

    <script>
        var login = new loginController();
        login.initialize();

        var url = '/uploaded/appandroid/output.json';
        var urlGoogle = 'https://drive.google.com/file/d/12s69L8o8lwBhsA78b3S3hp67qFJD-5bf/view?usp=sharing';

        $(document).on("click", "a.aAppAndroid", function () {
            window.location.href = urlGoogle;
        });


    </script>
</body>
</html>
