<div id="modal-add-edit-ChuyenKiemTraXuLy" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Chuyển xứ lý giấy đề nghị cung cấp dịch vụ </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">

                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainChuyenKiemTraXuLy">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="lbKiemTraDMCungCapDichVu">
                                    Chọn dịch vụ cung cấp
                                    <a style="color:red">(*) </a>
                                </label>
                                <select id="ddlKiemTraDMCungCapDichVu" class="form-control" name="ddlKiemTraDMCungCapDichVu"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="table-wrapper-scroll-y">
                                    <table id="tbl-KiemTraDMCungCapDichVu" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Tên dịch vụ</th>
                                                <th width="=10%">#</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl-contentKiemTraDMCungCapDichVu"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label for="lbKiemTraNgayChuyenXuLy">Ngày chuyển xử lý <a style="color:red">(*)</a></label>
                                <input type="text" name="txtKiemTraNgayChuyenXuLy" class="form-control has-feedback-right" id="txtKiemTraNgayChuyenXuLy" placeholder="Ngày chuyển xử lý">
                            </div>
                            <div class="col-sm-4">
                                <label for="lbKhuVucChuyenXuLy">Khu vực </label>
                                <select id="ddlKhuVucChuyenXuLy" class="form-control"></select>
                            </div>
                            <div class="col-sm-4">
                                <label for="lbToNhaMayChuyenXuLy">Chuyển đến Tổ, Nhà máy <a style="color:red">(*)</a></label>
                                <select id="ddlToNhaMayChuyenXuLy" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="lbKiemTraGhiChu">Ghi chú kiểm tra </label>
                                <input type="text" name="txtKiemTraGhiChu" class="form-control has-feedback-right" id="txtKiemTraGhiChu" placeholder="Ghi chú kiểm tra">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnKiemTraXuLyCancel" data-dismiss="modal" class="btn btn-default">Đóng</button>
                                <button type="button" id="btnSaveKiemTraChuyenXuLy" class="btn btn-warning">Chuyển xử lý </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ln_solid"></div>

            </div>
        </div>
    </div>
    <script id="table-KiemTraDMCungCapDichVu" type="x-tmpl-mustache">
        <tr>
            <td style='color: #324af5'>{{TenDMCungCapDichVu}}</td>
            <th scope="row">
                <a class="btn btnDeleteKiemTraDMCungCapDichVuTen" data-id="{{Id}}" data-toggle="tooltip" data-placement="top" title="Xóa dịch vụ">
                    <i class="fa fa-trash-o" style="color:red"></i>
                    Xóa
                </a>
            </th>
        </tr>
    </script>
</div>