<div id="modal-add-edit-InPhieuTiepNhan" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">In phiếu tiếp nhận </h4>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="btnCancelInPhieuTiepNhan" data-dismiss="modal" class="btn btn-default">Đóng</button>
                        <button type="button" id="btnInPhieuTiepNhan" class="btn btn-success"> In phiếu </button>
                    </div>
                </div>
            </div>
            <div class="">
                <div id="horizontal-form">
                    <form class="InPhieuTiepNhan" role="form" id="frmMainInPhieuTiepNhan">

                        <table cellpadding="0" cellspacing="0" border="0" style="border-width:0px;empty-cells:show;width:788px;height:254px;position:relative;">
                            <tr style="vertical-align:top;">
                                <td style="width:10px;height:10px;"></td>
                                <td style="width:16px;"></td>
                                <td style="width:62px;"></td>
                                <td style="width:68px;"></td>
                                <td style="width:116px;"></td>
                                <td style="width:30px;"></td>
                                <td style="width:72px;"></td>
                                <td style="width:87px;"></td>
                                <td style="width:40px;"></td>
                                <td style="width:76px;"></td>
                                <td style="width:51px;"></td>
                                <td style="width:66px;"></td>
                                <td style="width:46px;"></td>
                                <td style="width:27px;"></td>
                                <td style="width:21px;"></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:19px;"></td>
                                <td></td>
                                <td class="cs3319D8B9" colspan="4" style="width:274px;height:19px;line-height:15px;text-align:left;vertical-align:top;"><nobr>C&#212;NG&nbsp;TY&nbsp;CỔ&nbsp;PHẦN&nbsp;ĐIỆN&nbsp;NƯỚC&nbsp;AN&nbsp;GIANG</nobr></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="csDCBED1F6" colspan="5" style="width:264px;height:19px;line-height:15px;text-align:left;vertical-align:top;"><nobr>CỘNG&nbsp;H&#210;A&nbsp;X&#195;&nbsp;HỘI&nbsp;CHỦ&nbsp;NGHĨA&nbsp;VIỆT&nbsp;NAM</nobr></td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:2px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="csD87980A5" colspan="5" rowspan="2" style="width:262px;height:20px;line-height:15px;text-align:center;vertical-align:top;"><nobr>Độc&nbsp;lập&nbsp;-&nbsp;Tự&nbsp;do&nbsp;-&nbsp;Hạnh&nbsp;ph&#250;c</nobr></td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:18px;"></td>
                                <td></td>
                                <td class="cs7E470574" colspan="4" rowspan="4" style="width:272px;height:22px;line-height:15px;text-align:center;vertical-align:top;"><nobr>5</nobr></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:2px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:1px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="cs6F117EE5" colspan="2" style="width:117px;height:1px;"><!--[if lte IE 7]><div class="csF7D3565D"></div><![endif]--></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:1px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="cs1E73093F" colspan="2" style="width:117px;height:1px;"><!--[if lte IE 7]><div class="csF7D3565D"></div><![endif]--></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:19px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:21px;"></td>
                                <td></td>
                                <td class="cs941A2B89" colspan="12" style="width:737px;height:21px;line-height:20px;text-align:center;vertical-align:top;"><nobr>SỔ&nbsp;ĐĂNG&nbsp;K&#221;&nbsp;VĂN&nbsp;BẢN&nbsp;ĐẾN</nobr></td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:22px;"></td>
                                <td></td>
                                <td class="csD87980A5" colspan="12" style="width:737px;height:22px;line-height:15px;text-align:center;vertical-align:top;"><nobr>5</nobr></td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:18px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:43px;"></td>
                                <td class="csCD58F7ED" colspan="2" style="width:72px;height:41px;line-height:15px;text-align:center;vertical-align:top;"><nobr>Ng&#224;y&nbsp;đến</nobr></td>
                                <td class="cs32B595C8" style="width:63px;height:41px;line-height:15px;text-align:center;vertical-align:top;"><nobr>Số&nbsp;đến</nobr></td>
                                <td class="cs32B595C8" style="width:111px;height:41px;line-height:15px;text-align:center;vertical-align:top;"><nobr>T&#225;c&nbsp;giả</nobr></td>
                                <td class="cs32B595C8" colspan="2" style="width:97px;height:41px;line-height:15px;text-align:center;vertical-align:top;"><nobr>Số,&nbsp;k&#253;</nobr><br /><nobr>hiệu&nbsp;văn&nbsp;bản</nobr></td>
                                <td class="cs32B595C8" style="width:82px;height:41px;line-height:15px;text-align:center;vertical-align:top;"><nobr>Ng&#224;y&nbsp;th&#225;ng</nobr><br /><nobr>năm&nbsp;văn&nbsp;bản</nobr></td>
                                <td class="cs32B595C8" colspan="3" style="width:162px;height:41px;line-height:15px;text-align:center;vertical-align:top;"><nobr>T&#234;n&nbsp;loại&nbsp;v&#224;&nbsp;tr&#237;ch&nbsp;yếu&nbsp;nội</nobr><br /><nobr>dung&nbsp;văn&nbsp;bản</nobr></td>
                                <td class="cs32B595C8" colspan="2" style="width:107px;height:41px;line-height:15px;text-align:center;vertical-align:top;"><nobr>Đơn&nbsp;vị&nbsp;hoặc</nobr><br /><nobr>người&nbsp;nhận</nobr></td>
                                <td class="cs32B595C8" colspan="2" style="width:43px;height:41px;line-height:15px;text-align:center;vertical-align:top;"><nobr>Ghi</nobr><br /><nobr>ch&#250;</nobr></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:24px;"></td>
                                <td class="cs5411C8DD" colspan="2" style="width:74px;height:23px;"><!--[if lte IE 7]><div class="csF7D3565D"></div><![endif]--></td>
                                <td class="cs54C9E248" style="width:65px;height:23px;"><!--[if lte IE 7]><div class="csF7D3565D"></div><![endif]--></td>
                                <td class="cs54C9E248" style="width:113px;height:23px;"><!--[if lte IE 7]><div class="csF7D3565D"></div><![endif]--></td>
                                <td class="cs54C9E248" colspan="2" style="width:99px;height:23px;"><!--[if lte IE 7]><div class="csF7D3565D"></div><![endif]--></td>
                                <td class="cs54C9E248" style="width:84px;height:23px;"><!--[if lte IE 7]><div class="csF7D3565D"></div><![endif]--></td>
                                <td class="cs54C9E248" colspan="3" style="width:164px;height:23px;line-height:15px;text-align:left;vertical-align:top;"><nobr>,</nobr></td>
                                <td class="cs54C9E248" colspan="2" style="width:109px;height:23px;"><!--[if lte IE 7]><div class="csF7D3565D"></div><![endif]--></td>
                                <td class="cs54C9E248" colspan="2" style="width:45px;height:23px;"><!--[if lte IE 7]><div class="csF7D3565D"></div><![endif]--></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:10px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:22px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="cs7E470574" colspan="6" style="width:283px;height:22px;line-height:15px;text-align:center;vertical-align:top;"><nobr>An&nbsp;Giang,&nbsp;ng&#224;y&nbsp;.......&nbsp;th&#225;ng&nbsp;......&nbsp;năm&nbsp;2021</nobr></td>
                            </tr>
                            <tr style="vertical-align:top;">
                                <td style="height:22px;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="cs7E470574" colspan="6" style="width:283px;height:22px;line-height:15px;text-align:center;vertical-align:top;"><nobr>Người&nbsp;lập</nobr></td>
                            </tr>
                        </table>

                    </form>
                    
                </div>                
            </div>
        </div>
    </div>
</div>

