<div id="modal-add-edit-ThongBao" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title h2-size-color">Thông báo </h2>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainThongBao">                        
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 div-label-font-size">
                                <label for="lbThongBao">
                                    Vì khu vực Thành phố Long Xuyên không có phục vụ đăng ký lắp mới điện.
                                </label>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 div-label-font-size">
                                <label for="lbThongBao2">
                                    Quý khách hàng vui lòng lựa chọn khu vực khác.
                                </label>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>

