<div id="modal-add-edit-EditPCTDienDiaDiemCongTac" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm / Sửa cho phép làm việc và kết thúc công việc hàng ngày, di chuyển nơi làm việc </h4>
            </div>
            <div class="modal-body">

                <div id="formMainEditPCTDienCacDiaDiemCongTacDiChuyen">
                    <form class="form-horizontal form-label-left" id="frmMainEditPCTDienCacDiaDiemCongTacDiChuyen">
                        <div class="item form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label for="lbTenDiaDiemCongTacDiChuyen">
                                    Địa điểm công tác <a style="color:#f00"> (*) </a>
                                </label>
                                <input type="text" id="txtTenDiaDiemCongTacDiChuyen" name="txtTenDiaDiemCongTacDiChuyen" class="form-control">
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <label>Thời gian bắt đầu làm việc <a style="color:#f00"> (*) </a> </label>
                                    <div class="input-group">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <input type="text" id="txtDDLVGioBatDauDiaDiemCongTacDiChuyen" name="txtDDLVGioBatDauDiaDiemCongTacDiChuyen" class="form-control" placeholder="Giờ bắt đầu">
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <input type="text" id="txtDDLVPhutBatDauDiaDiemCongTacDiChuyen" name="txtDDLVPhutBatDauDiaDiemCongTacDiChuyen" class="form-control" placeholder="Phút bắt đầu">
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <input type="text" id="txtDDLVNgayBatDauDiaDiemCongTacDiChuyen" name="txtDDLVNgayBatDauDiaDiemCongTacDiChuyen"class="form-control" placeholder="Ngày bắt đầu">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <label>Thời gian kết thúc công việc <a style="color:#f00"> (*) </a> </label>
                                    <div class="input-group">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <input type="text" id="txtDDLVGioKetThucDiaDiemCongTacDiChuyen" name="txtDDLVGioKetThucDiaDiemCongTacDiChuyen" class="form-control" placeholder="Giờ kết thúc">
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <input type="text" id="txtDDLVPhutKetThucDiaDiemCongTacDiChuyen" name="txtDDLVPhutKetThucDiaDiemCongTacDiChuyen" class="form-control" placeholder="Phút kết thúc">
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <input type="text" id="txtDDLVNgayKetThucDiaDiemCongTacDiChuyen" name="txtDDLVNgayKetThucDiaDiemCongTacDiChuyen" class="form-control" placeholder="Ngày kết thúc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <label for="lbDDLVNguoiChiHuyTrucTiep">
                                    Người chỉ huy trực tiếp <a style="color:#f00"> (*) </a>
                                </label>
                                <input type="text" id="txtDDLVNguoiChiHuyTrucTiep" name="txtDDLVNguoiChiHuyTrucTiep" class="form-control">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <label for="lbDDLVNguoiChoPhep">
                                    Người cho phép <a style="color:#f00"> (*) </a>
                                </label>
                                <input type="text" id="txtDDLVNguoiChoPhep" name="txtDDLVNguoiChoPhep" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnCancelEditDDLVDiaDiemLamViec" data-dismiss="modal" class="btn btn-default">Đóng</button>
                                <button type="button" id="btnSaveEditDDLVDiaDiemLamViec" class="btn btn-warning">Lưu địa điểm LV </button>
                                <button type="button" id="btnSaveEditDDLVHoanThanhCT" class="btn btn-danger">Hoàn thành LV </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="formPCTDienDSCacDiaDiemCongTac">
                    <form class="form-horizontal" role="form" id="frmMainPCTDienDSCacDiaDiemCongTac">                        
                        <table class="table table-striped jambo_table bulk_action" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Địa điểm công tác</th>
                                    <th>Bắt đầu</th>
                                    <th>Kết thúc</th>
                                    <th>Người chỉ huy trực tiếp</th>
                                    <th>Người cho phép</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="table-contentPCTDienDSCacDiaDiemCongTac"></tbody>
                        </table>
                    </form>
                    <script type="x-tmpl-mustache" id="template-table-PCTDienDSCacDiaDiemCongTac">
                            <tr>
                                <th scope="row">
                                    <a class="btn-link btn-addeditPCTDienDSCacDiaDiemCongTac" data-id="{{Id}}" data-toggle="tooltip" data-placement="top" title="Id">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </th>
                                <td>{{TenDiaDiemCongTac}}</td>
                                <td>{{NgayBatDau}}</td>
                                <td>{{NgayKetThuc}}</td>
                                <td>{{TenNguoiChiHuyTrucTiep}}</td>
                                <td>{{TenNguoiChoPhep}}</td>
                                <td>{{{TTDiaDiemCT}}}</td>
                                <th scope="row">
                                    <a class="btn-link btn-AddHinhVideo" data-id="{{Id}}" data-toggle="tooltip" data-placement="top" title="Thêm hình, video">
                                        <i>Thêm Hình </i>
                                    </a>
                                </th>
                                <th scope="row">
                                    <a class="btn-link btn-HoanThanhCT" data-id="{{Id}}" data-toggle="tooltip" data-placement="top" title="Hoàn thành">
                                        <i>Hoàn thành </i>
                                    </a>
                                </th>
                                <th scope="row">
                                    <a class="btn-link btn-deletePCTDienDSCacDiaDiemCongTac" data-id="{{Id}}" data-toggle="tooltip"
                                                data-placement="top" title="Xóa địa điểm công tác">
                                                <i class="fa fa-trash-o"  style="color:red"></i>
                                     </a>
                                </th>
                            </tr>
                    </script>
                </div>

            </div>
        </div>
    </div>
</div>
