
<div id="modal-add-edit-EditKiemTraThucHien" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Kiểm tra thực hiện </h4>
            </div>
            <div class="modal-body">

                <div id="formMainEditKiemTraThucHien">
                    <form class="form-horizontal form-label-left" id="frmMainEditKiemTraThucHien">

                        <div class="item form-group">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <label for="lbNgayKiemTraThucHien">
                                    Ngày kiểm tra thực hiện 
                                </label>
                                <input type="text" id="txtNgayKiemTraThucHien" name="txtNgayKiemTraThucHien" class="form-control" placeholder="Ngày kiểm tra thực hiện">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <label for="lbTrangThaiKiemTraThucHien">
                                    Ngày kiểm tra thực hiện 
                                </label>
                                <select id="ddlTrangThaiKiemTraThucHien" name="ddlTrangThaiKiemTraThucHien" class="form-control"></select>
                            </div>
                        </div>
                        <div class="item form-group">                            
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label for="lbGhiChuKiemTraThucHien">
                                    Ghi chú kiểm tra thực hiện
                                </label>
                                <textarea id="txtGhiChuKiemTraThucHien" required="" class="form-control" name="txtGhiChuKiemTraThucHien" data-parsley-trigger="keyup" data-parsley-maxlength="1000"></textarea>
                            </div>
                        </div>

                        <div class="item form-group">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" id="btnCancelEditKiemTraThucHien" data-dismiss="modal" class="btn btn-default">Đóng</button>
                                    <button type="button" id="btnSaveEditKiemTraThucHien" class="btn btn-warning">Lưu kiểm tra thực hiện </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
