
<div class="row">
    <div class="x_panel">
        <div class="row no-print">
            <div class="col-sm-12" style="text-align: center">
                <button type="button" id="btnTimChuaXuLy" class="btn btn-default" style="color:#f39c12;border-color:#f39c12">Tìm văn bản</button>
            </div>
        </div>
        <br />
        <div class="table-responsive" id="table-responsiveChuaXuLy">
            <table id="tblChuaXuLy" class="table table-striped table-bordered dataTable no-footer" cellspacing="0">
                <thead>
                    <tr>
                        <th width="5%">#</th>
                        <th>Tên sổ</th>
                        <th>Số đến, ký hiệu</th>
                        <th>Trich yếu</th>
                        <th>Tên cơ quan ban hành</th>
                        <th>Ngày ban hành</th>
                        <th>Ngày đến</th>
                        <th>QT Xử lý</th>
                        <th>Bút phê LĐ</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody id="tblContentChuaXuLy"></tbody>
            </table>
            <div class="row ">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="datatable-checkbox_infoChuaXuLy" role="status" aria-live="polite">
                        <select id="ddl-show-pageChuaXuLy">
                            <option value="10" selected="selected">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                        <span class="item-per-page">
                            dòng/trang.
                        </span>
                        Tổng cộng: <strong id="lblChuaXuLyTotalRecords"></strong>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate" id="datatable-checkbox_paginateChuaXuLy">
                        <ul id="paginationULChuaXuLy"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-ChuaXuLy" type="x-tmpl-mustache">
    <tr>
        <th scope="row">
            <a class="btn btn-sm btnChuaXuLyXuLy" data-id="{{Id}}" data-toggle="tooltip" data-placement="top" title="Xử lý">
                <i class="fa fa-mail-forward"></i>
                Xử lý
            </a>
        </th>
        <td>
            {{TenSoVanBanDen}}
        </td>
        <td>
            <a class="btn btn-link btnChuaXuLyPatchFileKyHieu" data-id="{{VanBanDenId}}" data-toggle="tooltip">
                {{SoKyHieuDen}}
            </a>
        </td>
        <td>
            <a class="btn-link btnChuaXuLyPatchFileTrichYeu" data-id="{{VanBanDenId}}" data-toggle="tooltip">
                {{TrichYeuCuaVanBan}}
            </a>
        </td>
        <td>
            {{TenCoQuanBanHanh}}
        </td>
        <td>
            {{NgayBanHanhCuaVanBan}}
        </td>
        <td>
            {{NgayDenCuaVanBan}}
        </td>
        <td>
            <a class="btn btn-lg btnQTChuaXuLy" data-id="{{VanBanDenId}}" data-toggle="tooltip" style="color:green">
                <i class="fa fa-sitemap"></i>
            </a>
        </td>
        <td>
            <a class="btn btn-link btnChuaXLButPheLD" data-id="{{VanBanDenId}}" data-toggle="tooltip">
                {{ButPheLanhDao}}
            </a>
        </td>
        <td><input type="hidden" id="vanbandenid" class="form-control" value="{{VanBanDenId}}" /></td>
    </tr>
</script>
