<div id="modal-add-edit-VBDXemFileXuLy" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Xem file văn bản đến </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainVBDXemFileXuLy">
                        <input type="hidden" id="hidXemFileXuLyVanBanDenId" value="" />

                        <input type="hidden" id="hidXemFileXuLyTenFileXuLyId" value="" />
                        <input type="hidden" id="hidXemFileXuLyTenFileDuongDan" value="" />

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="lbXemFileXuLyFileVanBan">Chọn file văn bản </label>
                                <div id="imagelistXemFileXuLyFileVanBanDen" class="col-md-12">
                                </div>
                                <div class="input-group">
                                    <input type="file" id="fileXemFileXuLyFileVanBanDen" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="table-wrapper-scroll-y">
                                <table id="tbl-FileVBDXemFileXuLy" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tên file văn bản</th>
                                            <th width="=10%">#</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl-contentVBDXemFileXuLy"></tbody>
                                </table>
                            </div>
                        </div>
                    </form>

                    <script id="table-VBDXemFileXuLy" type="x-tmpl-mustache">
                        <tr>
                            <td>
                                <a class="btn btn-link btnVBDXemFileXuLyTenFile" data-id="{{DuongDan}}" data-toggle="tooltip">
                                    {{TenFile}}
                                </a>
                            </td>
                            <th scope="row">
                                <a class="btn btnDeleteVBDXemFileXuLyXoaFile" data-id="{{Id}}" data-toggle="tooltip" data-placement="top" title="Xóa file">
                                    <i class="fa fa-trash-o" style="color:red"></i>
                                    Xóa
                                </a>
                            </th>
                        </tr>
                    </script>
                </div>


            </div>
        </div>
    </div>
</div>