

<div id="modal-add-edit-ReportDev" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Báo cáo Sổ văn bản đến  </h4>
            </div>
            <div class="modal-body">
                @*@Html.DevExpress().WebDocumentViewer("DocumentViewer").Height("1000px").Bind(repSoVBD())*@

            </div>
        </div>
    </div>
</div>