
<div class="row">
    <div class="x_panel">
        <div class="row no-print">
            <div class="col-sm-12" style="text-align: center">
                <button type="button" id="btnTimChuaChuyen" class="btn btn-default" style="color:#3498db;border-color:#3498db">Tìm văn bản</button>
            </div>
        </div>
        <br />
        <div class="table-responsive" id="table-responsiveChuaChuyen">
            <table id="tblChuaChuyen" class="table table-striped table-bordered dataTable no-footer" cellspacing="0">
                <thead>
                    <tr>
                        <th width="=5%">#</th>
                        <th>Tên sổ</th>
                        <th>Số đến, ký hiệu</th>
                        <th>Trich yếu</th>
                        <th>Tên cơ quan ban hành</th>
                        <th>Ngày ban hành</th>
                        <th>Ngày đến</th>
                        <th>QT Xử lý</th>
                        <th>Bút phê LĐ</th>
                    </tr>
                </thead>
                <tbody id="tblContentChuaChuyen"></tbody>
            </table>
            <div class="row">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="datatable-checkbox_infoChuaChuyen" role="status" aria-live="polite">
                        <select id="ddl-show-pageChuaChuyen">
                            <option value="10" selected="selected">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                        <span class="item-per-page">
                            dòng/trang.
                        </span>
                        Tổng cộng: <strong id="lblChuaChuyenTotalRecords"></strong>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate" id="datatable-checkbox_paginateChuaChuyen">
                        <ul id="paginationULChuaChuyen"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-ChuaChuyen" type="x-tmpl-mustache">
    <tr>
        <th scope="row">
            <a class="btn btn-sm btnChuaChuyen" data-id="{{Id}}" data-toggle="tooltip" data-placement="top" title="Xử lý">
                <i class="fa fa-mail-forward"></i>

            </a>
        </th>
        <td>
            <a class="btn btn-sm">
                {{TenSoVanBanDen}}
            </a>
        </td>
        <td>
            <a class="btn btn-link btnChuaChuyenPatchFileKyHieu" data-id="{{VanBanDenId}}" data-toggle="tooltip">
                {{SoKyHieuDen}}
            </a>
        </td>
        <td>
            <a class="btn-link btnChuaChuyenPatchFileTrichYeu" data-id="{{VanBanDenId}}" data-toggle="tooltip">
                {{TrichYeuCuaVanBan}}
            </a>
        </td>
        <td>
            <a class="btn btn-sm">
                {{TenCoQuanBanHanh}}
            </a>
        </td>
        <td>
            <a class="btn btn-sm">
                {{NgayBanHanhCuaVanBan}}
            </a>
        </td>
        <td>
            <a class="btn btn-sm">
                {{NgayDenCuaVanBan}}
            </a>
        </td>
        <td>
            <a class="btn btn-lg btnChuaChuyenXuLy" data-id="{{VanBanDenId}}" data-toggle="tooltip" style="color:green">
                <i class="fa fa-sitemap"></i>
            </a>
        </td>
        <td>
            <a class="btn btn-link btnChuaChuyenButPheLD" data-id="{{VanBanDenId}}" data-toggle="tooltip">
                {{ButPheLanhDao}}
            </a>
        </td>
        <td><input type="hidden" id="vanbandenid" class="form-control" value="{{VanBanDenId}}" /></td>
    </tr>
</script>
