<div id="modal-add-edit-LichSuDangKyNuoc" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Lịch sử đăng ký nước </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="x_panel">
                        <div class="table-responsive" id="table-responsiveLichSuDangKyNuoc">
                            <table id="tblLichSuDangKyNuoc" class="table table-striped jambo_table bulk_action" cellspacing="0">
                                <thead>
                                    <tr>                                        
                                        <th>Ngày thực hiện</th>
                                        <th>Ghi chú</th>                                       
                                    </tr>
                                </thead>
                                <tbody id="tblContentLichSuDangKyNuoc"></tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
                <script id="table-LichSuDangKyNuoc" type="x-tmpl-mustache">
                    <tr>
                        <td>{{NgayThucHien}}</td>
                        <td>{{NgayThucHienGhiChu}}</td>                        
                    </tr>
                </script>

            </div>
        </div>
    </div>
</div>
