<div id="modal-add-edit-TraBoHoSo" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Trả bộ hồ sơ </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainTraBoHoSo">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="lbTraBoHoSoChucNangTraHoSo">
                                    Chọn chức năng trả hồ sơ  <a style="color:red">(*)</a>
                                </label>
                                <select id="ddlTraBoHoSoChucNangTraHoSo" class="form-control"></select>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="lbTraBoHoSoNgayTra">
                                    Ngày trả bộ hồ sơ  <a style="color:red">(*)</a>
                                </label>
                                <input type="text" name="txtTraBoHoSoNgayTra" class="form-control has-feedback-right" id="txtTraBoHoSoNgayTra" placeholder="Ngày trả bộ hồ sơ">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="lbTraBoHoSoNguoiTra">
                                    Tên nhân viên trả hồ sơ  <a style="color:red">(*)</a>
                                </label>
                                <input type="text" name="txtTraBoHoSoNguoiTra" class="form-control has-feedback-right" id="txtTraBoHoSoNguoiTra" placeholder="Tên nhân viên trả hồ sơ ">
                            </div>
                            <div class="col-sm-6">
                                <label for="lbTraBoHoSoGhiChuTra">
                                    Ghi chú trả bộ hồ sơ  <a style="color:red">(*)</a>
                                </label>
                                <input type="text" name="txtTraBoHoSoGhiChuTra" class="form-control has-feedback-right" id="txtTraBoHoSoGhiChuTra" placeholder="Ghi chú trả bộ hồ sơ">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnCancelTraBoHoSo" data-dismiss="modal" class="btn btn-default">Đóng</button>
                                <button type="button" id="btnSaveTraBoHoSo" class="btn btn-warning">Lưu trả bộ hồ sơ </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>





