

@{
    ViewData["Title"] = "Index";
}
@section Styles{

    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/lib/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
    <script src="~/lib/jquery-treegrid/js/jquery.treegrid.js" asp-append-version="true"></script>

    <script src="~/app/controllers/khoaso/index.js" asp-append-version="true"></script>
    <script>
        var khoaso = new khoasoController();
        khoaso.initialize();
    </script>
}



<div class="">
    <div class="page-title">
        <div class="title_left">
            <small>
                <a class="btn btn-link ">
                    Tiền lương
                </a>
                >>
                <a class="btn btn-link btnBangChiPhiLuong">
                    Khóa sổ lương
                </a>
            </small>
        </div>
        @*<div class="title_right">
                <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right top_search">
                    <button class="btn btn-round btn-warning" id="btn-create" type="button">Tạo mới / Sửa Chi phí</button>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                    </div>
                </div>
            </div>*@
    </div>
    <div class="clearfix"></div>
    <div class="x_content">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>  <small>Danh sách Khóa sổ lương theo khu vực</small></h3>
                </div>
                <div class="title_right">                    
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtNam" placeholder="Năm ">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
                        <div class="input-group">
                            <select id="ddlThang" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="page-title">
                <div class="title_left">
                    <h3>  <small></small></h3>
                </div>
                <div class="title_right">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="btnTimNhanVien" type="button">Tìm !</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
                        <div class="input-group">
                            <select id="ddlKhuVuc" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-title">
                <div class="title_left">
                    <h3>  <small></small></h3>
                </div>
                <div class="title_right">
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right">
                        <div class="input-group">
                            <button class="btn btn-round btn-warning" id="btnLuu" type="button">Lưu khóa sổ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="x_panel">
                    <input type="hidden" id="hidLockLuongDotInId" value="" />
                    <input type="hidden" id="hidInsertLockLuongDotInId" value="" />

                    <table class="table table-hover tree" id="tblLockLuongDotIn">
                        <thead class="bordered-darkorange">
                            <tr>
                                <th>Kỳ khóa sổ</th>
                                <th>Tên khu vực</th>
                                <th>
                                    <label>
                                        <input type="checkbox" id="ckCheckAllDot1" value="{{Id}}">
                                        <span class="text"> Đợt 1</span>
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="lst-data-LockLuongDotIn"></tbody>
                    </table>

                    <script id="result-data-LockLuongDotIn" type="x-tmpl-mustache">
                        <tr data-id="{{Id}}">
                            <td>{{KyLockLuong}}</td>
                            <td>{{TenKhuVuc}}</td>
                            <td>
                                <label>
                                    <input type="checkbox" value="{{Id}}" class="ckDotIn">
                                    <span class="text"> </span>
                                </label>
                            </td>
                        </tr>
                    </script>

                </div>
            </div>

        </div>

    </div>

</div>
