<div id="modal-add-edit-ChuyenTK" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Xác nhận đơn đăng ký trực tuyến </h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal form-label-left" id="frmMainEditChuyenTK">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <label>Ngày xác nhận <a style="color:red">(*)</a></label>
                            <input type="text" name="txtNgayChuyenTKGDNDien" class="form-control has-feedback-right" id="txtNgayChuyenTKGDNDien" placeholder="Ngày chuyển thiết kế">
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <label for="lbNhanVienChuyenTKGDNDien">Tên nhân viên nhập </label>
                            <input type="text" name="txtNhanVienChuyenTKGDNDien" class="form-control has-feedback-right" id="txtNhanVienChuyenTKGDNDien" placeholder="Nhân viên chuyển thiết kế">
                        </div>
                    </div>
                    <div class="form-group">
                        @*<div class="col-md-6 col-sm-12 col-xs-12">
                            <label for="lbToPhongGDNDien">Chuyển đến tổ khu vực <a style="color:red">(*)</a></label>
                            <select id="ddlToPhongGDNDien" name="ddlTinhDien" class="form-control"></select>
                        </div>*@
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <label for="lbGhiChuChuyenTKGDNDien">Ghi chú chuyển thiết kế</label>
                            <textarea id="txtGhiChuChuyenTKGDNDien" required="required" class="form-control" name="txtGhiChuChuyenTKGDNDien"
                                      data-parsley-trigger="keyup" data-parsley-maxlength="1000">
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="btnCancelChuyenTKDien" data-dismiss="modal" class="btn btn-default">Đóng</button>
                            <button type="button" id="btnSaveChuyenTKDien" class="btn btn-warning">Lưu xác nhận </button>
                        </div>
                    </div>
                </form>
                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>
