
@{
    ViewData["Title"] = "Index";
}

<!--<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <!--<div class="container">
        <a class="navbar-brand" href="#"><img src="/images/powaco2.png" style="width:80px;height:80px;" /></a>
        <button class="navbar-toggler" type="button" id="navbarToggler2" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="#" class="nav-link">Trang chủ</a></li>-->

<!--@*<li class="nav-item"><a href="#gioithieu" class="nav-link">Giới thiệu</a></li>
    <li class="nav-item"><a href="#dichvu" class="nav-link">Dịch vụ</a></li>*@-->
<!--<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="portfolio.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
    <div class="dropdown-menu" aria-labelledby="dropdown04">
      <a class="dropdown-item" href="portfolio.html">Portfolio</a>
      <a class="dropdown-item" href="portfolio-single.html">Portfolio Single</a>
    </div>
</li>
<li class="nav-item"><a href="#web1trang" class="nav-link">Case Studies</a></li> -->
<!--<li class="nav-item"><a href="#lienhe" class="nav-link">Liên hệ</a></li>-->
<!--<li class="nav-item cta"><a href="contact.html" class="nav-link"><span>Chi tiết</span></a></li> -->
<!--</ul>
    </div>
</div>-->
<!--</nav>-->

<div id="body-main">
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-12 text-center">
                    <div class="col-md-12">
                        <h1 class="mb-6" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            Hướng dẫn  <strong>Thanh toán</strong> tiền điện nước
                        </h1>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12" style="text-align:left">
                            <a href="#web1trang" class="btn btn-primary btn-outline-white py-3 btnWebsiteNganHang">
                                - Thanh toán tiền điện, nước trực tuyến qua website các Ngân hàng, ví Điện tử
                            </a>
                            @*<a href="#web1trang" class="btn btn-primary btn-outline-white px-5 py-3 btnWebsiteNganHang">
                                - Thanh toán tiền điện, nước trực tuyến qua website của các Ngân hàng, Ví điện tử
                            </a>*@
                        </div>
                        <div class="col-md-12" style="text-align:left">
                            <a href="#web1trang" class="btn btn-primary btn-outline-white py-3 btnWebsiteNganHang">
                                - Thanh toán tiền điện, nước qua hệ thống thẻ ngân hàng ATM
                            </a>                           
                        </div>
                        <div class="col-md-12" style="text-align:left">
                            
                                <a href="#web1trang" class="btn btn-primary btn-outline-white py-3 btnWebsiteNganHang">
                                    - Ủy nhiệm Ngân hàng thanh toán tiền điện, nước hàng tháng
                                    (Thanh toán tự động)
                                </a>
                           
                        </div>
                        <div class="col-md-12" style="text-align:left">
                            <a href="#web1trang" class="btn btn-primary btn-outline-white py-3 btnWebsiteNganHang">
                                - Thanh toán tiền điện bằng hình thức chuyển khoản Ủy nhiệm chi
                            </a>
                        </div>                        
                    </div>
                    <br />
                    <div class="col-md-12">
                        <a>
                            <img url="#" src="/images/bannerPowaco.png" style="width:530px;height:450px"
                                 border-radius=15%
                                 -moz-border-radius=15%
                                 -webkit-border-radius=15% />
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    @*<div class="bg-light">
            <section class="ftco-section-featured ftco-animate">
                <div class="container-fluid" data-scrollax-parent="true">
                    <div class="row no-gutters d-flex align-items-center" data-scrollax=" properties: { translateY: '-30%'}">

                        <div class="col-md-3 mb-3">
                            <a class="featured-img">
                                <div class="text-1 p-4 d-flex align-items-center">
                                    <h3>Thi công Năng lượng mặt trời<br><span class="tag">Website</span></h3>
                                </div>
                                <img src="/images/congnhan.jpg" class="img-fluid" alt="">
                                <div class="text p-4 d-flex align-items-center">
                                    <div class="user d-flex align-items-center">
                                        <div class="user-img mr-3" style="background-image: url(images/powacmo57.png);"></div>
                                        <h3>Powaco <br><span class="position">Designer</span></h3>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-6">
                            <div class="row no-gutters">
                                <div class="col-md-12">
                                    <div class="row no-gutters d-flex align-items-end">

                                        <div class="col-md-8">
                                            <a class="featured-img">
                                                <div class="text-1 p-4 d-flex align-items-center">
                                                    <h3>Công ty Cổ phần Điện nước An Giang<br><span class="tag">Website</span></h3>
                                                </div>
                                                <img src="/images/congpowa.png" class="img-fluid" alt="">
                                                <div class="text p-4 d-flex align-items-center">
                                                    <div class="user d-flex align-items-center">
                                                        <div class="user-img mr-3" style="background-image: url(images/powacmo57.png);"></div>
                                                        <h3>Powaco <br><span class="position">Designer</span></h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-md-4">
                                            <a class="featured-img">
                                                <div class="text-1 p-4 d-flex align-items-center">
                                                    <h3>Thi công Điện<br><span class="tag">Website</span></h3>
                                                </div>
                                                <img src="/images/dien.jpg" class="img-fluid" alt="">
                                                <div class="text p-4 d-flex align-items-center">
                                                    <div class="user d-flex align-items-center">
                                                        <div class="user-img mr-3" style="background-image: url(images/powacmo57.png);"></div>
                                                        <h3>Powaco<br><span class="position">Designer</span></h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row no-gutters d-flex align-items-start">
                                        <div class="col-md-8">
                                            <a class="featured-img">
                                                <div class="text-1 p-4 d-flex align-items-center">
                                                    <h3>Thi công Nhà máy nước<br><span class="tag">Website</span></h3>
                                                </div>
                                                <img src="/images/nhamaynuoc.jpg" class="img-fluid" alt="">
                                                <div class="text p-4 d-flex align-items-center">
                                                    <div class="user d-flex align-items-center">
                                                        <div class="user-img mr-3" style="background-image: url(images/powacmo57.png);"></div>
                                                        <h3>Powaco<br><span class="position">Designer</span></h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a class="featured-img">
                                                <div class="text-1 p-4 d-flex align-items-center">
                                                    <h3>Tầm nhìn<br><span class="tag">Website</span></h3>
                                                </div>
                                                <img src="images/image_4.jpg" class="img-fluid" alt="">
                                                <div class="text p-4 d-flex align-items-center">
                                                    <div class="user d-flex align-items-center">
                                                        <div class="user-img mr-3" style="background-image: url(images/powacmo57.png);"></div>
                                                        <h3>Powaco<br><span class="position">Designer</span></h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <a class="featured-img">
                                <div class="text-1 p-4 d-flex align-items-center">
                                    <h3>Công ty Cổ phần Điện nước An Giang<br><span class="tag">Website</span></h3>
                                </div>
                                <img src="/images/congct.png" class="img-fluid" alt="">
                                <div class="text p-4 d-flex align-items-center">
                                    <div class="user d-flex align-items-center">
                                        <div class="user-img mr-3" style="background-image: url(images/powacmo57.png);"></div>
                                        <h3>Powaco<br><span class="position">Designer</span></h3>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="row mt-5 d-flex justify-content-center">
                        <div class="col-md-8 text-center heading-section ftco-animate">
                            <h2 class="h1">Công ty Cổ phần <strong class="px-3">Điện nước An Giang</strong> là Công ty hoạt động sản xuất kinh doanh với nhiều lĩnh vực.</h2>
                            <p><a href="#sodienthoai" class="btn btn-primary mt-3 py-3 px-5">Gọi cho tôi</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>*@

    <!--<section id="gioithieu" class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-6 text-center heading-section ftco-animate">
                    <span class="subheading">Dịch vụ</span>-->
    @*<h2 class="mb-4">Web &amp; Mobile app design, tất cả phần mềm quản lý</h2>*@
    <!--<h2 class="mb-4">Sản phẩm nước sạch, điện sinh hoạt, điện năng lượng mặt trời, kinh doanh bất động sản</h2>
            <p>Chúng tôi tư vấn, hỗ trợ tất cả miễn phí đến khi quý khách hàng hài lòng</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center">
                    <div class="icon color-3 d-flex justify-content-center mb-3">
                        <span class="align-self-center icon-flash"></span>
                    </div>
                </div>
                <div class="media-body p-2 mt-3">
                    <h3 class="heading">Điện sinh hoạt</h3>
                    <p>Công ty lắp đặt điện kế theo phương thức không thu tiền đối với hộ sử dụng điện cho mục đích sinh hoạt có khoảng cách từ trụ điện đến nhà khách hàng từ 30 mét strở xuống.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center">
                    <div class="icon color-1 d-flex justify-content-center mb-3">
                        <span class="align-self-center icon-bubble_chart"></span>
                    </div>
                </div>
                <div class="media-body p-2 mt-3">
                    <h3 class="heading">Nước sạch</h3>
                    <p>Sản phẩm nước sạch của Công ty luôn đảm bảo đầy đủ theo các tiêu chuẩn quy định</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center">
                    <div class="icon color-2 d-flex justify-content-center mb-3">
                        <span class="align-self-center icon-view_module"></span>
                    </div>
                </div>
                <div class="media-body p-2 mt-3">
                    <h3 class="heading">Điện năng lượng</h3>
                    <p>Sở Kế Hoạch Đầu tư tỉnh An Giang cấp giấy xác nhận đăng ký kinh doanh lĩnh vực lắp đặt, sửa chữa, bán buôn thiết bị sử dụng năng lượng mặt trời, pin mặt trời.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center">
                    <div class="icon color-4 d-flex justify-content-center mb-3">
                        <span class="align-self-center icon-home"></span>
                    </div>
                </div>
                <div class="media-body p-2 mt-3">-->
    @*<h3 class="heading">Trợ giúp &amp; Hướng dẫn</h3>*@
    <!--<h3>Bất động sản</h3>
                            <p>Chúng tôi kinh doanh Bất động sản, đất nền biệt thự .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->

</div>

<!-- END nav -->
<!-- <div class="js-fullheight"> -->

<section id="web1trang" class="ftco-section">
    <div id="divWebsiteNganHang" class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-7">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="subheading">Thanh toán</span>
                <h2 class="mb-3">Thanh toán tiền điện, nước trực tuyến qua website của các Ngân hàng</h2>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Khách hàng phải có tài khoản thanh toán tại Ngân hàng
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Đảm bảo số dư tài khoản thanh toán đủ để thanh toán hóa đơn
                        </a>
                    </div>

                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Khách hàng có đăng ký sử dụng dịch vụ Internet Banking với một trong các Ngân hàng sau
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle; text-align: left;">
                                <a href="https://www.vietinbank.vn/sites/mediafile/WCC022123" target="_blank">
                                    Ngân hàng TMCP Công Thương Việt Nam (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.vietinbank.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/vietinbank55.png');
                            width: 200px;
                            height: 40px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.agribank.com.vn/vn/ca-nhan/san-pham/the/huong-dan-su-dung" target="_blank">
                                    Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.agribank.com.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/agibank11.png');
                                    width: 200px;
                                    height: 40px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.vietcombank.com.vn/upload/huong_dan_su_dung_dich_vu.pdf" target="_blank">
                                    Ngân hàng TMCP Ngoại thương Việt Nam (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://portal.vietcombank.com.vn/Pages/Home.aspx" target="_blank" class="block-20"
                                   style="        background-image: url('images/vcbank33.png');
                                    width: 200px;
                                    height: 40px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.sacombank.com.vn/nhdt/Pages/Thanh-toan-hoa-don-1.aspx" target="_blank">
                                    Ngân hàng TMCP Sài Gòn Thương Tín (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.sacombank.com.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/sacom44.png');
        width: 200px;
        height: 60px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://lienvietpostbank.com.vn/khach-hang/internet-banking/" target="_blank">
                                    Ngân hàng TMCP Bưu điện Liên Việt (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://lienvietpostbank.com.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/lvbank55.png');
        width: 200px;
        height: 60px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters justify-content-center mb-5 pb-7">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <span class="subheading">Thanh toán</span>
                    <h2 class="mb-3">Thanh toán tiền điện, nước qua ví điện tử</h2>
                    <div style="display: table">
                        <div style="display: table-cell; vertical-align: middle; text-align: left;">
                            <a>
                                - Khách hàng sử dụng điện thoại di động thông minh truy cập vào ứng dụng App store (hệ điệu hành IOS) hoặc ứng dụng Google play (hệ điều hành Android). Tải ví điện tử về.
                            </a>
                        </div>
                    </div>
                    <div style="display: table">
                        <div style="display: table-cell; vertical-align: middle; text-align: left;">
                            <a>
                                - Tạo tài khoản và đăng nhập vào ví điện tử cung cấp.
                            </a>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://momo.vn/huong-dan" target="_blank">
                                    Ví điện tử momo (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://momo.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/momo66.png');
        width: 200px;
        height: 40px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://vnpt.com.vn/tu-van/huong-dan-su-dung-vnpt-pay.html" target="_blank">
                                    Ví điện tử VNPT Pay (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://vnptpay.vn/web/" target="_blank" class="block-20"
                                   style="        background-image: url('images/vnptpay.png');
        width: 200px;
        height: 40px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.payoo.vn/hop-tac-voi-payoo/vi-dien-tu-payoo/huong-dan-dang-ky" target="_blank">
                                    Ví điện tử Payoo (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.payoo.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/payoo1.png');
        width: 200px;
        height: 60px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://vidientu.vnpay.vn/huongdan/dangkytaikhoan.html" target="_blank">
                                    Ví điện tử VN Pay (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://vidientu.vnpay.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/vnpay66.png');
        width: 200px;
        height: 60px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
        <div class="row no-gutters justify-content-center mb-5 pb-7">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="subheading">Thanh toán</span>
                <h2 class="mb-3">Cách thực hiện</h2>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Khách hàng phải có tài khoản thanh toán tại Ngân hàng
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Đăng nhập bằng tài khoản do Ngân hàng cung cấp để giao dịch qua internet banking
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Thực hiện thanh toán theo hướng dẫn trên trang web
                        </a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>


<section id="web2trang" class="ftco-section">
    <div id="divWebsiteTheATM" class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-7">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Thanh toán</span>
                <h2 class="mb-3">Thanh toán tiền điện, nước qua hệ thống thẻ ngân hàng ATM</h2>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Khách hàng phải có tài khoản thanh toán tại Ngân hàng
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Đảm bảo số dư tài khoản thanh toán đủ để thanh toán hóa đơn
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Khách hàng có đăng ký sử dụng dịch vụ Internet Banking với một trong các Ngân hàng sau
                        </a>
                    </div>
                </div>               
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.vietinbank.vn/sites/mediafile/WCC022123" target="_blank">
                                    Ngân hàng TMCP Công Thương Việt Nam (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.vietinbank.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/vietinbank55.png');
                            width: 200px;
                            height: 40px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.agribank.com.vn/vn/ca-nhan/san-pham/the/huong-dan-su-dung" target="_blank">
                                    Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.agribank.com.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/agibank11.png');
                                    width: 200px;
                                    height: 40px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.vietcombank.com.vn/upload/huong_dan_su_dung_dich_vu.pdf" target="_blank">
                                    Ngân hàng TMCP Ngoại thương Việt Nam (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://portal.vietcombank.com.vn/Pages/Home.aspx" target="_blank" class="block-20"
                                   style="        background-image: url('images/vcbank33.png');
                                    width: 200px;
                                    height: 40px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.sacombank.com.vn/nhdt/Pages/Thanh-toan-hoa-don-1.aspx" target="_blank">
                                    Ngân hàng TMCP Sài Gòn Thương Tín (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.sacombank.com.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/sacom44.png');
        width: 200px;
        height: 60px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://lienvietpostbank.com.vn/khach-hang/internet-banking/" target="_blank">
                                    Ngân hàng TMCP Bưu điện Liên Việt (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://lienvietpostbank.com.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/lvbank55.png');
        width: 200px;
        height: 60px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row no-gutters justify-content-center mb-5 pb-7">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Cách thực hiện</span>
                <h2 class="mb-3">Mỗi loại máy ATM có màn hình giao dịch khác nhau, nhưng tổng quát khách hàng sẽ thao tác qua các bước sau</h2>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Quý khách đưa thẻ vào máy ATM, đăng nhập.
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Chọn mục Thanh toán hóa đơn.
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Chọn loại hóa đơn cần thanh toán là “Tiền Điện” hoặc “Tiền Nước”.
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Chọn nhà cung cấp là Công ty CP Điện Nước An Giang.
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Nhập mã khách hàng in trên biên nhận tiền Điện, tiền Nước.
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Thực hiện xác nhận thanh toán.
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Lấy biên lai giao dịch.
                        </a>
                    </div>
                </div>                
            </div>
        </div>

    </div>
</section>

<section id="web3trang" class="ftco-section">
    <div id="divWebsiteUyNhiem" class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-7">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Thanh toán</span>
                <h2 class="mb-3">Ủy nhiệm Ngân hàng thanh toán tiền điện, nước hàng tháng (Ủy nhiệm thanh toán tự động)</h2>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Hàng tháng Quý khách hàng có thể ủy nhiệm thanh toán tự động cho các Xí nghiệp Điện Nước huyện, thị, thành phố tại Ngân hàng có liên kết trên địa bàn tỉnh An Giang (chỉ đăng ký một lần).
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Khách hàng phải có tài khoản thanh toán tại Ngân hàng.
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Đảm bảo số dư tài khoản thanh toán đủ để thanh toán hóa đơn.
                        </a>
                    </div>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.vietinbank.vn/sites/mediafile/WCC022123" target="_blank">
                                    Ngân hàng TMCP Công Thương Việt Nam (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.vietinbank.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/vietinbank55.png');
                            width: 200px;
                            height: 40px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.agribank.com.vn/vn/ca-nhan/san-pham/the/huong-dan-su-dung" target="_blank">
                                    Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.agribank.com.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/agibank11.png');
                                    width: 200px;
                                    height: 40px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.vietcombank.com.vn/upload/huong_dan_su_dung_dich_vu.pdf" target="_blank">
                                    Ngân hàng TMCP Ngoại thương Việt Nam (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://portal.vietcombank.com.vn/Pages/Home.aspx" target="_blank" class="block-20"
                                   style="        background-image: url('images/vcbank33.png');
                                    width: 200px;
                                    height: 40px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.sacombank.com.vn/nhdt/Pages/Thanh-toan-hoa-don-1.aspx" target="_blank">
                                    Ngân hàng TMCP Sài Gòn Thương Tín (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://www.sacombank.com.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/sacom44.png');
        width: 200px;
        height: 60px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <div class="blog-entry">
                    <div class="text p-4 d-block">
                        <div class="mb-2" style="display: table">
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://lienvietpostbank.com.vn/khach-hang/internet-banking/" target="_blank">
                                    Ngân hàng TMCP Bưu điện Liên Việt (Xem tại đây)
                                </a>
                            </div>
                            <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                                <a href="https://lienvietpostbank.com.vn/" target="_blank" class="block-20"
                                   style="        background-image: url('images/lvbank55.png');
        width: 200px;
        height: 60px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row no-gutters justify-content-center mb-5 pb-7">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Thanh toán</span>
                <h2 class="mb-3">Cách thực hiện</h2>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Khách hàng liên hệ trực tiếp với Ngân hàng nơi khách hàng mở tài khoản để làm thủ tục ủy nhiệm thanh toán tiền điện, nước (chỉ đăng ký một lần).
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Định kỳ khi có hóa đơn phát sinh, Ngân hàng sẽ tự trích tiền trả cho các Xí nghiệp Điện Nước huyện, thị, thành phố.
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Khách hàng lấy hóa đơn điện tử trên trang web diennuocag.com.vn của Công ty CP Điện Nước An Giang sau 24 giờ sau khi giao dịch xong.
                        </a>
                    </div>
                </div> 
            </div>
        </div>

    </div>
</section>


<section id="web4trang" class="ftco-section">
    <div id="divWebsiteChuyenKhoan" class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-7">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Thanh toán</span>
                <h2 class="mb-3">Thanh toán tiền điện bằng hình thức chuyển khoản Ủy nhiệm chi</h2>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Xí nghiệp Điện Nước huyện, thị, thành phố giao giấy báo hoặc thông báo tiền điện, nước cho Khách hàng.
                        </a>
                    </div>
                </div>
                <div style="display: table">
                    <div style="display: table-cell; vertical-align: middle; text-align: left;">
                        <a>
                            - Khách hàng lập ủy nhiệm chi để thanh toán cho Xí nghiệp.
                        </a>
                    </div>
                </div>               
            </div>
        </div>

    </div>
</section>

