
    <!-- footer-bottom aera -->
<div class="text-center footer-color">
    <p>
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script>  Công Ty Cổ Phần Điện Nước An Giang - POWACO (v1.2)
    </p>
</div>


