<div id="modal-add-edit-EditKTDQuanLyCongTacKTD" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm / Sửa Quản lý Công tác điện </h4>
            </div>
            <div class="modal-body">                              

                <div id="formMainEditKTDQuanLyCongTacKTD">
                    <form class="form-horizontal form-label-left" id="frmMainEditKTDQuanLyCongTacKTD">                        
                        <div class="item form-group">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <label for="lbPCTDienNhap1KhuVuc">
                                    Khu vực <a style="color:red">(*)</a>
                                </label>
                                <select id="ddlPCTDienNhap1KhuVuc" name="ddlPCTDienNhap1KhuVuc" class="form-control"></select>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <label for="lbPCTDienNhap1PhongBan">
                                    Phòng, tổ <a style="color:red">(*)</a>
                                </label>
                                <select id="ddlPCTDienNhap1PhongBan" name="ddlPCTDienNhap1PhongBan" class="form-control"></select>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <label for="lbSoPhieuCongTac">
                                    Số phiếu công tác
                                </label>
                                <input type="text" id="txtSoPhieuCongTac" name="txtSoPhieuCongTac" class="form-control" placeholder="Số phiếu công tác">
                            </div>
                        </div>                        
                    </form>
                </div>               

                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>
