<div id="modal-add-edit-EditKTDDuyTuBaoDuong" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm / Sửa Công tác duy tu bảo dưỡng lưới điện </h4>
            </div>
            <div class="modal-body">

                <div id="formMainEditKTDDuyTuBaoDuong">
                    <form class="form-horizontal form-label-left" id="frmMainEditKTDDuyTuBaoDuong">
                        <div class="item form-group">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <label id="lbDuyTuBaoDuongTenVatTu"> </label>
                                <input type="text" id="txtDuyTuBaoDuongSoLuong" name="txtDuyTuBaoDuongSoLuong" class="form-control" placeholder="Số lượng">
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <label for="lbCuTheGom">
                                    Cụ thể gồm
                                </label>
                                <input type="text" id="txtCuTheDuyTuBaoDuong" name="txtCuTheDuyTuBaoDuong" class="form-control" placeholder="Cụ thể duy tu bảo dưỡng">
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <label id="lbDuyTuBaoDuongLuyTuyen">
                                    Lũy tuyến
                                </label>
                                <input type="number" id="txtDuyTuBaoDuongLuyTuyen" name="txtDuyTuBaoDuongLuyTuyen" class="form-control" placeholder="Lũy tuyến">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnCancelEditKTDDuyTuBaoDuong" data-dismiss="modal" class="btn btn-default">Đóng</button>
                                <button type="button" id="btnSaveEditKTDDuyTuBaoDuong" class="btn btn-warning">Lưu Duy tu bảo dưỡng </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>
