<div id="modal-add-edit-EditKTDThayTheVatTu" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm / Sửa thay thé vật tư, thiết bị </h4>
            </div>
            <div class="modal-body">

                <div id="formMainEditKTDThayTheVatTu">
                    <form class="form-horizontal form-label-left" id="frmMainEditKTDThayTheVatTu">
                        <div class="item form-group" id="ThayTheVatTu11Den15">
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <label id="lbThayTheVatTuTenVatTu"> </label>
                                <input type="number" id="txtThayTheVatTuSoLuongVatTu" name="txtThayTheVatTuSoLuongVatTu" class="form-control" placeholder="Số lượng vật tư">
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <label for="lbThayTheVatTuLuyTuyen">
                                    Lũy tuyến
                                </label>
                                <input type="number" id="txtThayTheVatTuSoLuongLuyTuyen" name="txtThayTheVatTuSoLuongLuyTuyen" class="form-control" placeholder="Số lượng lũy tuyến">
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <label for="lbSoPhieuCongTac">
                                    Chi tiết
                                </label>
                                <input type="text" id="txtThayTheVatTuChiTiet" name="txtThayTheVatTuChiTiet" class="form-control" placeholder="Chi tiết vật tư">
                            </div>
                        </div>
                        <div class="item form-group" id="EditThayTheVatTuThietBiKhac">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <label id="lbThayTheVatTuThietBiKhac"> Thiết bị khác </label>
                                <input type="text" id="txtThayTheVatTuThietBiKhac" name="txtThayTheVatTuThietBiKhac" class="form-control" placeholder="Thiết bị khác">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnCancelEditThayTheVatTu" data-dismiss="modal" class="btn btn-default">Đóng</button>
                                <button type="button" id="btnSaveEditThayTheVatTu" class="btn btn-warning">Lưu Thay Thế Vật Tư </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>
