<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>	
		
		<!-- ~ 2GB -->
		<httpRuntime executionTimeout="100000" maxRequestLength="2147483647" />

		<sessionState mode="InProc" cookieless="true" timeout="60"/>
		
	</system.web>
  <location path="." inheritInChildApplications="false" >
    <system.webServer>
		
		
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
		
      <!--<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />-->
		<aspNetCore requestTimeout="00:45:00" forwardWindowsAuthToken="false" processPath="%LAUNCHER_PATH%" 
					arguments="%LAUNCHER_ARGS%" startupTimeLimit="3600" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
			<environmentVariables />
		</aspNetCore>
		
      <security>
        <requestFiltering>
		    <!-- ~ 2GB -->
          <requestLimits maxAllowedContentLength="2147483647" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>

	
	

</configuration>
<!--ProjectGuid: a7534dcf-b241-4f31-a898-225d5d742449
    4294967295 = 4GB
-->