@*<div id="modal-add-edit-VBDThem" class="bootbox modal fade modal-darkorange in" tabindex="-1" 
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">*@
@*<div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">*@
    <div class="bootbox modal fade modal-darkorange in" id="modal-add-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Thêm/Sửa người dùng</h4>
                </div>
                <div class="modal-body">
                    <div id="horizontal-form">
                        <form class="form-horizontal" role="form" id="frmMaintainance">
                            <input type="hidden" id="hidHoSoNhanVienId" value="" />
                            <input type="hidden" id="hidHinhNhanVien" value="" />

                            <div class="form-group">
                                <input type="hidden" id="hidId" value="" />
                                <div class="col-sm-12">
                                    <label for="txtFullName" class="col-sm-2 control-label"> </label>
                                    <div class="col-sm-10">
                                        <button type="button" id="btnTimHoSo" class="btn btn-warning">Tìm nhân viên</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="hidden" id="hidId" value="" />
                                    
                                    <label for="txtFullName">Tên đầy đủ</label>
                                    <input type="text" name="txtFullName" class="form-control" id="txtFullName">                                    
                                </div>                                
                            </div>    
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="txtUserName">Tên đăng nhập</label>
                                    <input type="text" name="txtUserName" class="form-control" id="txtUserName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="txtPassword">Mật mã</label>
                                    <input type="password" name="txtPassword" class="form-control" id="txtPassword" />
                                </div>
                                <div class="col-sm-6">
                                    <label for="txtConfirmPassword">Nhập lại mật mã trên</label>
                                    <input type="password" name="txtConfirmPassword" class="form-control" id="txtConfirmPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="txtEmail">Email</label>
                                    <input type="email" name="txtEmail" class="form-control" id="txtEmail">
                                </div>
                                <div class="col-sm-6">
                                    <label for="txtPhoneNumber">Số điện thoại di dộng</label>
                                    <input type="text" name="txtPhoneNumber" class="form-control" id="txtPhoneNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="lbTenCongTy">Tên Công ty <a style="color:red">(*)</a></label>
                                    <select id="ddlCorporation" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="lbPhanQuyenUser">Phân quyền</label>
                                </div>
                                <div class="col-sm-10">
                                    <div id="list-roles">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked="checked" id="ckStatus">
                                            <span class="text">Hoạt động </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                                    <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-default">Đóng</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
