<div id="modal-edit-password" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Sửa mật mã người dùng</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMainEditPassword">
                        <div class="form-group">
                            <input type="hidden" id="hidEditPassId" value="" />
                            <label for="txtPassword" class="col-sm-2 control-label">Nhập lại mật mã</label>
                            <div class="col-sm-10">
                                <input type="password" name="txtCurrentPassword" class="form-control" id="txtCurrentPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtConfirmPassword" class="col-sm-2 control-label">Mật mã mới</label>
                            <div class="col-sm-10">
                                <input type="password" name="txtNewPassword" class="form-control" id="txtNewPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSaveEditPass" class="btn btn-success">Save</button>
                                <button type="button" id="btnCancelEditPass" data-dismiss="modal" class="btn btn-default">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
