
<div id="modal-add-edit-TuChoiTK" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Từ chối thiết kế </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainDuyetTK">

                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="lbNgayTuChoiThietKe">
                                    Ngày từ chối thiết kế
                                    <a style="color:red">(*)</a>
                                </label>
                                <input type="text" name="txtNgayTuChoiThietKe" class="form-control has-feedback-right" id="txtNgayTuChoiThietKe" placeholder=" Ngày từ chối thiết kế">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="lbGhiChuTuChoiTK">Ghi chú từ chối thiết kế</label>
                                <textarea id="txtGhiChuTuChoiTK" required="required" class="form-control" name="txtGhiChuTuChoiTK"
                                          data-parsley-trigger="keyup" data-parsley-maxlength="1000">
                                </textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnPhucHoiTuChoiThietKe" class="btn btn-warning">Phục hồi</button>
                                <button type="button" id="btnCancelTuChoiTK" data-dismiss="modal" class="btn btn-default">Đóng</button>
                                <button type="button" id="btnTuChoiThietKe" class="btn btn-success">Từ chối TK </button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>
