<div id="modal-add-edit-ChuyenChuyenMon" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Chuyển văn bản đến chuyên môn xử lý </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainChuyenChuyenMon">
                        <input type="hidden" id="hidVanBanDenDuyetId" value="" />
                        <input type="hidden" id="hidVanBanDenId" value="" />
                        <input type="hidden" id="hidHoSoNhanVienId" value="" />

                        <input type="hidden" id="hidInsertVBDDNVXLId" value="" />
                        <input type="hidden" id="hidVanBanDenIdDuyet" value="" />

                        <div class="form-group">
                            <div class="col-sm-12" style="text-align:right">                                
                                <a class="btn btn-lin btnVBDDuyetFile" style="color:cornflowerblue"><i class="fa fa-chain-broken"></i> Chọn file văn bản đính kèm</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="lbButPheLanhDao">Bút phê lãnh đạo </label>
                                <textarea type="text" name="txtButPheLanhDao" class="form-control has-feedback-right" id="txtButPheLanhDao" placeholder="Bút phê lãnh đạo ">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="lbNgayChuyenChuyenMon">Ngày chuyển chuyên môn </label>
                                <input type="text" name="txtNgayChuyenChuyenMon" class="form-control has-feedback-right" id="txtNgayChuyenChuyenMon" placeholder="Ngày chuyển chuyên môn">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSaveChuyenChuyenMon" class="btn btn-warning">Lưu chuyển chuyên môn xử lý </button>
                                <button type="button" id="btnCanceChuyenChuyenMon" data-dismiss="modal" class="btn btn-default">Đóng</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="ln_solid"></div>
                <div id="formNhanVienXuLy">
                    <form class="form-horizontal" role="form" id="frmMaintainanceNhanVienXuLy">
                        @*<div class="row no-print">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-info pull-right" id="btnExcelDangKyNhanVien">Xuất Excel</button>
                            </div>
                        </div>*@
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Họ và tên</th>
                                    <th>Khu vực</th>
                                    <th>Phòng, tổ</th>
                                    <th>Chức vụ</th>
                                    <th>TT Xử lý</th>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="table-contentNhanVienXuLy"></tbody>
                        </table>
                        <div class="row" id="row--infoNhanVienXuLy">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="datatable-checkbox_infoNhanVienXuLy" role="status" aria-live="polite">
                                    <select id="ddl-show-pageNhanVienXuLy">
                                        <option value="10" selected="selected">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                    <span class="item-per-page">
                                        dòng/trang.
                                    </span>
                                    Tổng cộng: <strong id="lblNhanVienXuLyTotalRecords"></strong>
                                </div>
                            </div><div class="col-sm-7">
                                <div class="dataTables_paginate" id="datatable-checkbox_paginateNhanVienXuLy">
                                    <ul id="paginationULNhanVienXuLy"></ul>
                                </div>
                            </div>
                        </div>
                    </form>
                    <script type="x-tmpl-mustache" id="template-table-NhanVienXuLy">
                        <tr>
                            <td><a >{{TenNhanVien}}</a></td>
                            <td><a >{{TenKhuVuc}}</a></td>
                            <td><a >{{TenPhong}}</a></td>
                            <td><a >{{TenChucVu}}</a></td>
                            <td>
                                <a class="btn btnPhoiHopXuLyId" data-id="{{VBDDNVXLId}}">
                                    {{{PhoiHopXuLy}}}
                                </a>                               
                            </td>
                            <th scope="row">
                                <a class="btn btn-link btn-deleteNhanVienXuLy" data-id="{{VBDDNVXLId}}" data-toggle="tooltip" data-placement="top" title="Hủy nhân viên Xử lý">
                                    <i class="fa fa-trash-o" style="color:red"></i> 
                                </a>
                            </th>
                            <td><input type="hidden" id="vbdnvxlId" class="form-control" value="{{VBDDNVXLId}}" /></td>
                        </tr>
                    </script>
                </div>
                <div class="ln_solid"></div>
                <div class="table-responsive" id="table-responsiveCCMHoSoNhanVien">
                    <div class="row" id="row-CCMHoSoNhanVien">
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <select id="ddlCCMKhuVuc" class="form-control"></select>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <select id="ddlCCMPhong" class="form-control"></select>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <input type="text" id="txtCCMTimNhanVien" class="form-control" placeholder="Từ khóa...">
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <button class="btn btn-primary " id="btnCCMTimNhanVien" type="button">Tìm !</button>
                        </div>
                    </div>
                    <table id="tblCCMHoSoNhanVien" class="table table-striped jambo_table bulk_action" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="=20%">#</th>
                                <th>Họ và tên</th>
                                <th>Khu vực</th>
                                <th>Phòng, tổ</th>
                                <th>Chức vụ</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody id="tblContentCCMHoSoNhanVien"></tbody>
                    </table>
                    <div class="row" id="row-infoCCMHoSoNhanVien">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_infoCCMHoSoNhanVien" role="status" aria-live="polite">
                                <select id="ddl-show-pageCCMHoSoNhanVien">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <span class="item-per-page">
                                    dòng/trang.
                                </span>
                                Tổng cộng: <strong id="lblCCMHoSoNhanVienTotalRecords"></strong>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="dataTables_paginate" id="datatable-checkbox_paginateCCMHoSoNhanVien">
                                <ul id="paginationULCCMHoSoNhanVien"></ul>
                            </div>
                        </div>
                    </div>
                </div>

                <script id="table-CCMHoSoNhanVien" type="x-tmpl-mustache">
                    <tr>
                        <th scope="row">
                            <a class="btn btn-lg btn-editCCMHoSoNhanVien" data-id="{{HoSoId}}" data-toggle="tooltip" data-placement="top" title="Tham gia xử lý"><i class="fa fa-arrow-up"></i> </a>
                        </th>
                        <td>{{Ten}}</td>
                        <td>{{TenKhuVuc}}</td>
                        <td>{{TenPhong}}</td>
                        <td>{{TenChucVu}}</td>
                        <td>{{CreateDate}}</td>
                        <td>{{{Status}}}</td>
                    </tr>
                </script>
            </div>
        </div>
    </div>
</div>

<partial name="_VBDDuyetFile.cshtml" />