@inject IViewLocalizer Localizer
<div class="style-ul-li">
    <div class="container">
        <ul>
            <li><a href="#">@Localizer["Home"]</a></li>
            <li><a href="#">@Localizer["Contact"]</a></li>
        </ul>
    </div>
</div>

<div class="body-content">
    <div class="container">
        <div class="contact-page">
            <div class="row">

                <div class="col-md-12 contact-map outer-bottom-vs">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1962.6053935535188!2d105.42167738186447!3d10.397814828577507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcab24c795b1d51be!2zQ8O0bmcgdHkgQ-G7lSBwaOG6p24gxJBp4buHbiBOxrDhu5tjIEFuIEdpYW5n!5e0!3m2!1svi!2s!4v1572514742834!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>

                @*<div class="col-md-12 contact-info">
                        <div class="contact-title">
                            <h4>Liên hệ</h4>
                        </div>
                        <div class="clearfix address">
                            <span class="contact-i"><i class="fa fa-map-marker"></i></span>
                            <span class="contact-span">821 Trần Hưng Đạo, phường Bình Khánh, tp Long Xuyên, tỉnh An Giang</span>
                        </div>
                        <div class="clearfix phone-no">
                            <span class="contact-i"><i class="fa fa-mobile"></i></span>
                            <span class="contact-span">+0296.3856100<br>+19009090</span>
                        </div>
                        <div class="clearfix email">
                            <span class="contact-i"><i class="fa fa-envelope"></i></span>
                            <span class="contact-span"><a href="#">diennuocag.com.vn</a></span>
                        </div>
                    </div>*@
            </div><!-- /.contact-page -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</div>
<br />