
@*<div class="form-group">
    <div class="col-sm-12">    
        <div class="fa-hover col-md-3 col-sm-4 col-xs-12 image-upload">
            <label for="fileFileSentFile2">
                <i class="fa fa-paperclip"></i>
            </label>
            <input type="file" multiple id="fileFileSentFile2" class="fa fa-paperclip" />
        </div>        
        <div class="input-group">
            <div type="file" id="fileFileSentFile" style="width:200px; height:200px; line-height:200px; border: 1px solid #000000; text-align:center;">
                Drop file
            </div>
        </div>
    </div>
</div>*@