
<div id="modal-add-edit-ViewEmailNoiBo" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Xem Email nội bộ </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <div>
                        <form class="form-horizontal " role="form" id="frmMainViewEmailNoiBo">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="lbViewNguoiGui">Người gửi </label>
                                    <input type="text" name="txtViewNguoiGui" class="form-control has-feedback-right" id="txtViewNguoiGui" placeholder="Người gửi">
                                </div>
                                <div class="col-sm-6">
                                    <label for="lbViewNguoiNhan">Loại văn bản </label>
                                    <input type="text" name="txtViewNguoiNhan" class="form-control has-feedback-right" id="txtViewNguoiNhan" placeholder="Người nhận">
                                </div>
                            </div>

                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
