@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
}
@section Scripts{

    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>

    <!-- jQuery Tags Input -->
    <script src="~/lib/gentelella/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>

    <script src="~/app/controllers/vbdduyet/_quatrinhxuly.js" asp-append-version="true"></script>

    <script src="~/app/controllers/vbdithem/vbdingayxem.js" asp-append-version="true"></script>
    @*<script src="~/app/controllers/vbdthem/vanbandendientu.js" asp-append-version="true"></script>*@
    <script src="~/app/controllers/vbdithem/vbdchophathanh.js" asp-append-version="true"></script>
    <script src="~/app/controllers/vbdithem/filevanbandi.js" asp-append-version="true"></script>
    <script src="~/app/controllers/vbdithem/addeditvbdithem.js" asp-append-version="true"></script>
    <script src="~/app/controllers/vbdithem/index.js" asp-append-version="true"></script>
    <script>
        var vbdithem = new vbdithemController();
        vbdithem.initialize();
    </script>

}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <small>
                <a class="btn btn-link ">
                    Văn bản đi
                </a>
                >>
                <a class="btn btn-link btnThemMoiVanBanDi">
                    Thêm mới văn bản đi
                </a>
            </small>
        </div>
        <div class="title_right">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
                <button class="btn btn-round btn-warning" id="btn-create" type="button">Phát hành văn bản đi</button>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <div class="title_left">
            <h3>  <small></small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-2 col-xs-12 form-group pull-right">
                <div class="input-group">
                    <input type="text" id="txtTimNoiDung" class="form-control" placeholder="Từ khóa...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="btnTimNoiDung" type="button">Tìm !</button>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <select id="ddlVanBanDiSoMoi" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <select id="ddlKhuVuc" class="form-control"></select>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="x_panel">
            <div class="row no-print">
                @*<div class="col-xs-12">
                        <button class="btn btn-info pull-right" id="btnXuatExcel" style="margin-right: 5px;"><i class="fa fa-download"></i> Xuất Excel</button>
                    </div>*@
            </div>
            <div class="table-responsive" id="table-responsiveVBDiThem">
                <table id="tblVBDiThem" class="table table-striped jambo_table bulk_action" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="=10%">#</th>
                            <th>Tên sổ</th>
                            <th>Trich yếu</th>
                            <th>Số đi, ký hiệu</th>
                            <th>Nơi nhận</th>
                            <th>Ngày ban hành</th>
                            @*<th>Ngày đến</th>*@
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody id="tblContentVBDiThem"></tbody>
                </table>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_infoVBDiThem" role="status" aria-live="polite">
                            <select id="ddl-show-pageVBDiThem">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                dòng/trang.
                            </span>
                            Tổng cộng: <strong id="lblVBDiThemTotalRecords"></strong>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate" id="datatable-checkbox_paginateVBDiThem">
                            <ul id="paginationULVBDiThem"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="table-VBDiThem" type="x-tmpl-mustache">
        <tr>
            <th scope="row">
                <a class="btn btn-lg btn-addeditVBDiThem" data-id="{{Id}}" data-toggle="tooltip" data-placement="top" title="Sửa văn bản"><i class="fa fa-pencil"></i> </a>
            </th>
            <td>{{TenSoVanBanDi}}</td>
            <td>
                <a class="btn-link btnPatchFileTrichYeu" data-id="{{Id}}" data-toggle="tooltip">
                    {{TrichYeuCuaVanBan}}
                </a>
            </td>
            <td>
                <a class="btn btn-link btnPatchFileKyHieu" data-id="{{Id}}" data-toggle="tooltip">
                    {{SoKyHieuDi}}
                </a>
            </td>
            <td>{{TenCoQuanBanHanh}}</td>
            <td>{{NgayBanHanhCuaVanBan}}</td>
            @*<td>
                    {{NgayDiCuaVanBan}}
                </td>*@
            <td>
                <a class="btn btn-link btnVBDiNgayXem" data-id="{{Id}}" data-toggle="tooltip">
                    {{{TTChuaPhatHanh}}}
                </a>
            </td>

        </tr>
    </script>
</div>

<partial name="_AddEditModel.cshtml" />
<partial name="_FileVanBanDi.cshtml" />
<partial name="_VBDChoPhatHanh.cshtml" />
<partial name="_VBDiNgayXem.cshtml" />
@*      <partial name="_VanBanDenDienTu.cshtml" />*@


