<?xml version="1.0" encoding="utf-8"?>
<configuration>	
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.web>
		<!-- ~ 100M -->
		<httpRuntime maxRequestLength="2147483647" />
		<!--<httpRuntime maxQueryStringLength = "2147483647" />-->
	</system.web>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
      <security>		  
        <requestFiltering>
		    <!-- ~ 100M -->			
          <requestLimits maxAllowedContentLength="2147483647" />
			<!--<requestLimits maxUrl="10999" maxQueryString="2147483647" />-->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: a7534dcf-b241-4f31-a898-225d5d742449
    4294967295 = 4GB
-->