<div id="modal-add-edit-HsNhomHs" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm mới / Sửa Nhóm hồ sơ </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainHsNhomHs">
                        <input type="hidden" id="hidHsNhomHsId" value="" />
                        <input type="hidden" id="hidInsertHsNhomHsId" value="" />

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xl-12">
                                <label for="lbAddEditKhuVuc">
                                    Khu vực
                                    <a style="color:red">(*)</a>
                                </label>
                                <select id="ddlAddEditKhuVuc" class="form-control"></select>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xl-12">
                                <label for="lbTenNhom">
                                    Tên nhóm
                                    <a style="color:red">(*)</a>
                                </label>
                                <input type="text" name="txtTenNhom" class="form-control has-feedback-right" id="txtTenNhom" placeholder="Tên nhóm">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xl-12">
                                <label for="lbSttNhom">Số thứ tự <a style="color:red">(*)</a></label>
                                <input type="number" name="txtSttNhom" class="form-control has-feedback-right" id="txtSttNhom" placeholder="Tên kệ - tủ - bao">
                            </div>
                        </div>                        

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnCancelHsNhomHs" data-dismiss="modal" class="btn btn-default">Đóng</button>
                                <button type="button" id="btnSaveHsHsNhomHs" class="btn btn-success">Lưu nhóm hồ sơ </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ln_solid"></div>
            </div>
        </div>
    </div>
</div>


