@{ ViewData["Title"] = "Index"; }
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        
    <script src="~/app/controllers/hsnhomhs/addedithsnhom.js" asp-append-version="true"></script>
    <script src="~/app/controllers/hsnhomhs/index.js" asp-append-version="true"></script>
    <script>var hsnhomhs = new hsnhomhsController();
        hsnhomhs.initialize();</script>
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <small>
                <a class="btn btn-link ">
                    Nhóm Hồ sơ lưu trữ
                </a>
                >>
                <a class="btn btn-link ">
                    Nhập nhóm hồ sơ lưu trữ
                </a>
            </small>
        </div>
        <div class="title_right">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
                <button class="btn btn-round btn-success" id="btn-create" type="button">Thêm mới nhóm hồ sơ</button>
            </div>
        </div>
    </div>
    <div class="page-title">
        <div class="title_left">
            <h3>  <small></small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
                <div class="input-group">
                    @*<input type="text" id="txtTimNoiDung" class="form-control" placeholder="Tên tên nhóm...">*@
                    <span class="input-group-btn">
                        <button class="btn btn-success" id="btnTimNoiDung" type="button">Tìm !</button>
                    </span>
                </div>
            </div> 
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <select id="ddlKhuVuc" class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="x_panel">
            <div class="table-responsive" id="table-responsiveHsNhomHs">
                <table id="tblHsNhomHs" class="table table-striped jambo_table bulk_action" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="=10%">#</th>
                            <th>Khu vực</th>
                            <th>Tên nhóm</th>                           
                            <th>Stt</th>
                            @*<th>Trạng thái</th>*@
                        </tr>
                    </thead>
                    <tbody id="tblContentHsNhomHs"></tbody>
                </table>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_infoHsNhomHs" role="status" aria-live="polite">
                            <select id="ddl-show-pageHsNhomHs">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                dòng/trang.
                            </span>
                            Tổng cộng: <strong id="lbHsNhomHsTotalRecords"></strong>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate" id="datatable-checkbox_paginateHsNhomHs">
                            <ul id="paginationULHsNhomHs"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="table-HsNhomHs" type="x-tmpl-mustache">
        <tr>
            <th scope="row">
                <a class="btn-lg btn-link btn-addeditHsNhomHs" data-id="{{Id}}" data-toggle="tooltip" data-placement="top" title="Sửa nhóm hồ sơ"><i class="fa fa-pencil"></i> </a>
            </th>
            <td>{{TenKhuVuc}}</td>
            <td>{{Ten}}</td>
            <td>{{SttNhom}}</td>
            @*<td>{{{Status}}}</td>*@
        </tr>
    </script>
</div>

<partial name="_AddEditModel.cshtml" />






