@using NiTiErp.Extensions;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="http://powaco.ddns.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Phần mềm nội bộ POWACO" />
    <meta property="og:description" content="Phần mềm Quản lý nội bộ Công ty: Nhân sự - Văn bản - Trực tuyến" />
    <meta property="og:image" content="http://tructuyen.diennuocag.com.vn/images/ct600.png" />

    <link rel="shortcut icon" href="/admin-side/images/powaco.ico" />
    <title>POWACO - HRM </title>
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    @*<link href="~/lib/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet" />
        <link href="~/lib/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.css" rel="stylesheet" />
        <link href="~/lib/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.css" rel="stylesheet" />
        <link href="~/lib/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.css" rel="stylesheet" />
        <link href="~/lib/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.css" rel="stylesheet" />*@

    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <link href="~/lib/ckeditor/skins/moono/editor.css" rel="stylesheet" />

    <link href="~/lib/gentelella/vendors/pnotify/dist/pnotify.css" rel="stylesheet" />
    <link href="~/lib/gentelella/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet" />
    <link href="~/lib/gentelella/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet" />
    @*<link href="~/lib/jquery-loading/loading.css" rel="stylesheet" />*@

    <!-- Loading.... -->
    <link href="~/admin-side/loading/demo.css" rel="stylesheet" />
    <link href="~/admin-side/loading/loading.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/admin-side/css/custom.css" rel="stylesheet" />
    <!-- Custom table fixed Style -->
    @*<link href="~/admin-side/css/table-fixed.css" rel="stylesheet" />*@

    @*<link href="~/admin-side/chatbox/chat-box.css" rel="stylesheet" />*@
    <link href="~/admin-side/chatbox/style-chatbox.css" rel="stylesheet" />

    @*<link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
        <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />*@

    @*<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    @*<script src="~/js/thirdparty.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="~/js/vendor.js" asp-append-version="true"></script>*@

    <link href="~/css/powanguyen.css" rel="stylesheet" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    @*<div class="navbar nav_title" style="border: 0;">
                            <a href="/admin/home" class="site_title">
                                <img src="/admin-side/images/powacmo.png" alt="..." class="img-thumbnail profile_img">
                                <span>  Văn bản - HRM</span>
                            </a>
                        </div>*@
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/admin/home" class="site_title">
                            <img src="/admin-side/images/powacmo.png" alt="..." class="img-rounded profile_img" />
                            <span style="color:white">  Văn bản - HRM</span>
                        </a>
                    </div>
                    @*<div class="navbar nav_title" style="border: 0;">
                            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentellela Alela!</span></a>
                        </div>*@
                    <div class="clearfix"></div>
                    <input type="hidden" id="hidUserCorporationId" value=@User.GetSpecificClaim("CorporationId") />
                    <input type="hidden" id="hidUserFullName" value=@User.GetSpecificClaim("FullName") />
                    <input type="hidden" id="hidUserName" value=@User.GetSpecificClaim("UserName") />
                    <input type="hidden" id="hidAvatarUserId" value=@User.GetSpecificClaim("Avatar") />
                    <!-- menu profile quick info -->
                    @*<div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="/admin-side/images/img.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <input type="hidden" id="hidUserCorporationId" value=@User.GetSpecificClaim("CorporationId") />
                                <input type="hidden" id="hidUserCorporationId" value=@User.GetSpecificClaim("FullName") />
                                <span> </span>
                                <h2>@User.GetSpecificClaim("FullName")</h2>
                            </div>
                        </div>*@
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    @await Component.InvokeAsync("SideBar")
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        @*<a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>*@
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>@await Html.PartialAsync("_LoginPartial")</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>

            </div>

            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-left">
                    Công Ty Cổ Phần Điện Nước An Giang - <a href="http://powaco.ddns.net">HRM</a>
                    - Đang online <i class="fa fa-user"> <span id="users" class="badge bg-orange"> </span></i>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

            <div style="background-color: #ddd; position: fixed; padding: 1em; right: 5px; bottom: 0;
                transform: translateX(-15%);">
                <div class="row" style="display: flex; justify-content: flex-end; position: relative; z-index: 0;
                    align-items: flex-end; height: 0; " id="PriChatDiv">
                </div>
            </div>

            <span id="time"></span>
            <input id="hdId" type="hidden" />
            <input id="PWCount" type="hidden" value="info" />
            <input id="hdUserName" type="hidden" />

            <input id="hdQRCodePCTDien" type="hidden" />
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- FastClick -->
    <script src="~/lib/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/nprogress/nprogress.js"></script>
    <!-- Datatables -->
    @*<script src="~/lib/gentelella/vendors/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/lib/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.js"></script>
        <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.js"></script>
        <script src="~/lib/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>*@
    @*<script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>*@
    @*<script src="~/lib/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.js"></script>
        <script src="~/lib/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.js"></script>
        <script src="~/lib/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.js"></script>
        <script src="~/lib/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/lib/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.js"></script>*@


    <!-- Chart.js -->
    <script src="~/lib/mustache/mustache.js"></script>
    @*<script src="~/lib/Chart.js/dist/Chart.js"></script>*@
    <!-- jQuery Sparklines -->
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
    <script src="~/lib/jquery-sparkline/dist/jquery.sparkline.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" ></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js" ></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/moment/locale/vi.js"></script>
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script src="~/lib/bootbox/bootbox.js"></script>
    <!-- morris.js -->
    <script src="~/lib/gentelella/vendors/raphael/raphael.js" asp-append-version="true"></script>
    <script src="~/lib/gentelella/vendors/morris.js/morris.js" asp-append-version="true"></script>
    <!-- jQuery Smart Wizard -->
    @*<script src="~/lib/gentelella/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js" asp-append-version="true"></script>*@
    <script src="~/lib/gentelella/vendors/pnotify/dist/pnotify.js" asp-append-version="true"></script>
    <script src="~/lib/gentelella/vendors/pnotify/dist/pnotify.buttons.js" asp-append-version="true"></script>
    <script src="~/lib/gentelella/vendors/pnotify/dist/pnotify.nonblock.js" asp-append-version="true"></script>

    <!-- Loading.... -->
    <script src="~/admin-side/loading/loading.js"></script>

    <!-- Custom Theme Scripts -->
    @*<script src="~/admin-side/js/custom.min.js" asp-append-version="true"></script>*@
    <script src="~/admin-side/js/custom.js" asp-append-version="true"></script>
    @*<script src="~/lib/jquery-loading/jquery.loading.js"></script>*@
    @*<script src="~/lib/jQuery.print/jQuery.print.js" asp-append-version="true"></script>*@
    <script src="~/admin-side/js/jquery.printThis.js" asp-append-version="true"></script>

    <script src="~/lib/signalr/lib/signalr.js" asp-append-version="true"></script>


    @*<script src="~/js/devextreme/jquery.js"></script>*@
    @*<script src="~/js/devextreme/dx.all.js"></script>
        <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
        <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>*@


    <script src="~/app/shared/tedu.js" asp-append-version="true"></script>
    <script src="~/app/shared/nguyen.js" asp-append-version="true"></script>


    @*<script src="~/app/shared/tinnhanhub.js" asp-append-version="true"></script>*@
    <input id="hdconnectId" type="hidden" />
    <input id="hdconnectUserName" type="hidden" />

    <script src="~/js/html5-qrcode.min.js"></script>
    @*<script src="~/js/qrScript.js" asp-append-version="true"></script>*@
    
    @*<script src="~/app/shared/chatbox.js" asp-append-version="true"></script>*@
    @*<script src="~/app/shared/chatuser.js" asp-append-version="true"></script>*@
    <script src="~/app/shared/loginchat.js" asp-append-version="true"></script>
    @*<environment names="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
         </environment>
        <environment names="Staging,Production">
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        </environment>*@



    <script>
        @*<input type="hidden" id="hidUserCorporationId" value=@User.GetSpecificClaim("UserName") />*@
        var userName = $('#hidUserName').val();
        //console.log(userName);

        $.ajax({
            type: "GET",
            url: "/Admin/appuserlogin/GetUserName",
            data: {
                username: userName
            },
            dataType: "json",
            beforeSend: function () {
                tedu.startLoading();
            },
            success: function (response) {

                if (response.Result.Results.length > 0) {
                    const connection = new signalR.HubConnectionBuilder()
                        .withUrl("/chat")
                        .build();

                    bindConnectionMessage(connection);

                    connection.start()
                        .then(function () {
                            onConnected(connection);
                        })
                        .catch(function (error) {
                            console.error(error.message);
                        });
                }

                tedu.stopLoading();
            },
            error: function (status) {
                tedu.notify('Có lỗi xảy ra', 'error');
                tedu.stopLoading();
            }
        });

        $.ajax({
            type: "GET",
            url: "/Admin/emailthem/GetEmailCount",
            data: {
                nguoinhan: userName
            },
            dataType: "json",
            beforeSend: function () {
                tedu.startLoading();
            },
            success: function (response) {
                var render = '<span class="badge bg-green">' + response + '</span>'
                $("#countEmailNguoiDung").html(render);
                tedu.stopLoading();
            },
            error: function (status) {
                tedu.notify('Có lỗi xảy ra', 'error');
                tedu.stopLoading();
            }
        });

        $('body').on('click', '.bntGoToEmail', function (e) {
            e.preventDefault();
            window.location.href = "/admin/emailthem/index";
        });

        function bindConnectionMessage(connection) {
            var messageCallback = function (message) {
                console.log('message' + message);
                if (!message) return;
                var userCountSpan = document.getElementById('users');
                userCountSpan.innerText = message;
            };
            connection.on("updateCount", messageCallback);
            connection.onclose(onConnectionError);
        }
        function onConnected(connection) {
            console.log('Bắt đầu kết nối');
        }
        function onConnectionError(error) {
            if (error && error.message) {
                console.error(error.message);
            }
            else {
                console.log('Close kết nối');
            }
        }


    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>