<div class="row">
    <div class="x_panel">
        <form class="form-horizontal " role="form" id="frmShareTimVanBanDi">
            
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="lbShareSoVanBanDi">Năm văn bản </label>
                    <input type="number" value="0" class="form-control" id="txtShareNamVanBanDi" placeholder="Năm văn bản">
                </div>
                <div class="col-sm-3">
                    <label for="lbShareSoVanBanDi">Số văn bản </label>
                    <input type="number" value="0" class="form-control" id="txtShareSoVanBanDi" placeholder="Số văn bản">
                </div>
                <div class="col-sm-3">
                    <label for="lbShareKyHieuVanBanDi">Ký hiệu văn bản </label>
                    <input type="text" class="form-control" id="txtShareKyHieuVanBanDi" placeholder="Ký hiệu văn bản">
                </div>
                <div class="col-sm-3">
                    <label for="lbShareVanBanDiSo">Sổ văn bản đi</label>
                    <select id="ddlShareVanBanDiSo" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <label for="lbShareTrichYeuDi">Trích yếu văn bản </label>
                    <input type="text" class="form-control" id="txtShareTrichYeuDi" placeholder="Trích yếu văn bản">
                </div>
                <div class="col-sm-4">
                    <label for="lbShareVBDiNoiDen">Nơi đến văn bản </label>
                    <select id="ddlShareCVBDiNoiDen" class="form-control"></select>
                </div>
                <div class="col-sm-4">
                    <label for="lbShareCoQuanBanHanhDi">Cơ quan ban hành văn bản </label>
                    <select id="ddlShareCoQuanBanHanhDi" class="form-control"></select>
                </div>
            </div>

        </form>
    </div>
</div>
