<div class="row">
    <div class="x_panel">
        <form class="form-horizontal " role="form" id="frmShareTimVanBan">
            
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="lbSoVanBan">Năm văn bản </label>
                    <input type="number" value="0" class="form-control" id="txtNamVanBan" placeholder="Năm văn bản">
                </div>
                <div class="col-sm-3">
                    <label for="lbSoVanBan">Số văn bản </label>
                    <input type="number" value="0" class="form-control" id="txtSoVanBan" placeholder="Số văn bản">
                </div>
                <div class="col-sm-6">
                    <label for="lbKyHieuVanBan">Ký hiệu văn bản </label>
                    <input type="text" class="form-control" id="txtKyHieuVanBan" placeholder="Ký hiệu văn bản">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <label for="lbTrichYeu">Trích yếu văn bản </label>
                    <input type="text" class="form-control" id="txtTrichYeu" placeholder="Trích yếu văn bản">
                </div>
                <div class="col-sm-6">
                    <label for="lbCoQuanBanHanh">Cơ quan ban hành văn bản </label>
                    <select id="ddlCoQuanBanHanh" class="form-control"></select>
                </div>
            </div>

        </form>
    </div>
</div>
