@{ ViewData["Title"] = "Index"; }
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
}
@section Scripts{

    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>

    <script src="~/app/controllers/podangkydien/tuchoidon.js" asp-append-version="true"></script>
    <script src="~/app/controllers/podangkydien/xulydon.js" asp-append-version="true"></script>
    <script src="~/app/controllers/podangkydien/lichsudangkydien.js" asp-append-version="true"></script>
    <script src="~/app/controllers/podangkydien/addeditpodangkydien.js" asp-append-version="true"></script>
    <script src="~/app/controllers/podangkydien/index.js" asp-append-version="true"></script>
    <script>
        var podangkydien = new podangkydienController();
        podangkydien.initialize();</script>
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <small>
                <a class="btn btn-link ">
                    Đăng ký điện
                </a>
                >>
                <a class="btn btn-link ">
                    Nhập đăng ký điện
                </a>
            </small>
        </div>
        <div class="title_right">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
                <button class="btn btn-round btn-warning" id="btn-create" type="button">Thêm mới</button>
            </div>
        </div>
    </div>
    <div class="page-title">
        <div class="title_left">
            <h3>  <small></small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
                <div class="input-group">
                    <input type="text" id="txtTimNoiDung" class="form-control" placeholder="Mã đơn, tên...">
                    <span class="input-group-btn">
                        <button class="btn btn-tim" id="btnTimNoiDung" type="button">Tìm !</button>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <select id="ddlPhongTo" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <select id="ddlKhuVuc" class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="x_panel">
            <div class="table-responsive" id="table-responsiveDONDANGKYPO">
                <table id="tblDONDANGKYPO" class="table table-striped jambo_table bulk_action" cellspacing="0">
                    <thead>
                        <tr>
                            @*<th width="=10%">#</th>*@
                            <th>Maddk</th>
                            <th>Tên khách hàng</th>
                            <th>Khu vực</th>
                            <th>Nơi lắp</th>
                            <th>Số CCCD / CMND</th>
                            <th>Số điện thoại</th>
                            <th></th>
                            <th></th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody id="tblContentDONDANGKYPO"></tbody>
                </table>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_infoDONDANGKYPO" role="status" aria-live="polite">
                            <select id="ddl-show-pageDONDANGKYPO">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                dòng/trang.
                            </span>
                            Tổng cộng: <strong id="lbDONDANGKYPOTotalRecords"></strong>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate" id="datatable-checkbox_paginateDONDANGKYPO">
                            <ul id="paginationULDONDANGKYPO"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="table-DONDANGKYPO" type="x-tmpl-mustache">
        <tr>
            <th scope="row">
                <a class="btn-link btn-addeditMaddk" data-id="{{MADDKPO}}" data-toggle="tooltip" data-placement="top" title="Mã đơn">
                    <i >{{MADDKPO}}</i>
                </a>
            </th>
            <td>{{TENKH}}</td>
            <td>{{TENKV}}</td>
            <td>{{DIACHILD}}</td>
            <td>{{CMND}}</td>
            <td>{{DIENTHOAI}}</td>
            <th scope="row">
                <a class="btn-link btn-XuLyDonDangKy" data-id="{{MADDKPO}}" data-toggle="tooltip" data-placement="top" title="Xử lý đơn đăng ký">
                    <i >Xử lý </i>
                </a>
            </th>
            <th scope="row">
                <a class="btn-link btn-TuChoiDonDangKy" data-id="{{MADDKPO}}" data-toggle="tooltip" data-placement="top" title="Từ chối đơn đăng ký">
                    <i >Từ chối</i>
                </a>
            </th>
            <td>
                <a class="btn-link btn-TTDonDangKyNuoc" data-id="{{MADDKPO}}" data-toggle="tooltip" data-placement="top" title="Trạng thái ĐĐK Điện">
                   {{{TTDonDangKyDien}}}
                </a>
            </td>
        </tr>
    </script>
</div>

<partial name="_AddEditModel.cshtml" />
<partial name="_LichSuDangKyDien.cshtml" />
<partial name="_XuLyDon.cshtml" />
<partial name="_TuChoiDon.cshtml" />

