<div id="modal-add-edit-AddNhanVien" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm / Sửa nhân viên vào nhóm xử lý Văn bản </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmAddNhanVien">
                        <table class="table table-striped jambo_table bulk_action" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="=20%">#</th>                                   
                                    <th>Họ và tên</th>
                                    <th>Khu vực</th>
                                    <th>Phòng, tổ</th>
                                    <th>Chức vụ</th>
                                    <td></td>                                   
                                </tr>
                            </thead>
                            <tbody id="table-contentAddNhanVien"></tbody>
                        </table>                      
                    </form>
                    <script type="x-tmpl-mustache" id="template-table-AddNhanVien">
                        <tr>                           
                            <td>{{TenNhanVien}}</td>
                            <td>{{TenKhuVuc}}</td>
                            <td>{{TenPhong}}</td>
                            <td>{{TenChucVu}}</td>
                            <th scope="row">
                                <a class="btn-link btn-deleteDangKyNhomNhanVien" data-id="{{Id}}" data-toggle="tooltip"
                                            data-placement="top" title="Hủy nhân viên ">
                                            <i class="fa fa-trash-o"  style="color:red"></i>
                                 </a>
                            </th>
                            <td><input type="hidden" class="hosoId form-control" value="{{hosoId}}" /></td>
                        </tr>
                    </script>
                </div>
                <div class="ln_solid"></div>
                <div class="table-responsive" id="table-responsiveHoSoDaoTaoDangKy">
                    <div class="row" id="row-AddEditDaoTaoDangKy">
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <select id="ddlKhuVucAddEditDangKy" class="form-control"></select>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <select id="ddlPhongBanAddEditDangKy" class="form-control"></select>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <input type="text" id="txtTimNhanVienAddEditDangKy" class="form-control" placeholder="Từ khóa...">
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <button class="btn btn-warning " id="btnTimNhanVienAddEditDangKy" type="button">Tìm !</button>
                        </div>
                    </div>
                    <table id="tblHoSoNhanVienDaoTaoDangKy" class="table table-striped jambo_table bulk_action" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="=20%">#</th>
                                <th>Họ và tên</th>
                                <th>Khu vực</th>
                                <th>Phòng, tổ</th>
                                <th>Chức vụ</th>
                                <th>Ngày sinh</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody id="tblContentHoSoDaoTaoDangKy"></tbody>
                    </table>
                    <div class="row" id="row-AddEditDaoTao-infoHoSoDaoTaoDangKy">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_infoHoSoDaoTaoDangKy" role="status" aria-live="polite">
                                <select id="ddl-show-pageHoSoDaoTaoDangKy">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <span class="item-per-page">
                                    dòng/trang.
                                </span>
                                Tổng cộng: <strong id="lblHoSoDaoTaoDangKyTotalRecords"></strong>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="dataTables_paginate" id="datatable-checkbox_paginateHoSoDaoTaoDangKy">
                                <ul id="paginationULHoSoDaoTaoDangKy"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script id="table-HoSoDaoTaoDangKy" type="x-tmpl-mustache">
                    <tr>
                        <th scope="row">
                            <a class="btn btn-lg btn-editHoSoDaoTaoDangKy" data-id="{{Id}}" data-toggle="tooltip" data-placement="top" title="Tham gia đào tạo"><i class="fa fa-arrow-up"></i> </a>
                        </th>
                        <td>{{Ten}}</td>
                        <td>{{TenKhuVuc}}</td>
                        <td>{{TenPhong}}</td>
                        <td>{{TenChucVu}}</td>
                        <td>{{NgaySinh}}</td>
                        <td>{{{Status}}}</td>
                    </tr>
                </script>
            </div>
        </div>
    </div>
</div>

