<div id="modal-add-edit-QDKT" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Tạo mới / Sửa Quyết định khen thưởng</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainQDKT">
                        <input type="hidden" id="hidQDKTId" value="" />
                        <input type="hidden" id="hidHoSoKhenThuongId" value="" />
                        <input type="hidden" id="hidInsertQDKTIdId" value="" />

                        <div class="form-group">
                            <label for="lbAddEditHoTenQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Họ và tên</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtAddEditHoTenQDKT" placeholder="Họ và tên nhân viên">
                            </div>
                            <label for="lbAddEditPhongToQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Phòng, tổ</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtAddEditPhongToQDKT" placeholder="Phòng, tổ, nhà máy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbTenQuyetDinhQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Tên quyết định khen thưởng</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <select id="ddlLoaiQuyetDinhQDKT" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbLyDoQuyetDinhQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Lý do khen thưởng</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtLyDoQuyetDinhQDKT" placeholder="Lý do khen thưởng">
                            </div>
                            <label for="lbHinhThucKhenThuongQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Hình thức khen thưởng</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <select id="ddlLoaiHinhThucKhenThuongQDKT" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbTienKhenThuongQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Tiền khen thưởng</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" name="txtTienKhenThuongQDKT" class="form-control has-feedback-right" id="txtTienKhenThuongQDKT" placeholder="Tiền khen thưởng">
                            </div>
                            <label for="lbGhiChuQuyetDinhQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ghi chú quyết định khen thưởng</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtGhiChuQuyetDinhQDKT" placeholder="Ghi chú quyết định khen thưởng">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbSoQuyetDinhQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Số quyết định khen thưởng</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" name="txtSoQuyetDinhQDKT" class="form-control has-feedback-right" id="txtSoQuyetDinhQDKT" placeholder="Số quyết định khen thưởng">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbNgaKyQuyetDinhQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ngày ký quyết định khen thưởng</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtNgaKyQuyetDinhQDKT" placeholder="Ngày ký quyết định khen thưởng" />
                            </div>
                            <label for="lbTenNguoiKyQuyetDinhQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Tên người ký quyết định</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtTenNguoiKyQuyetDinhQDKT" placeholder="Tên người ký Qđ khen thưởng">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbNgayHieuLucQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ngày hiệu lực</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtNgayHieuLucQDKT" placeholder="Ngày hiệu lực">
                            </div>
                            <label for="lbNgayHetHanQDKT" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ngày hết hạn</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtNgayHetHanQDKT" placeholder="Ngày hết hạn">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSaveQDKT" class="btn btn-success">Lưu</button>
                                <button type="button" id="btnCancelQDKT" data-dismiss="modal" class="btn btn-default">Đóng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>