<div id="modal-add-edit-QDKL" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Tạo mới / Sửa Quyết định kỷ luật</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainQDKL">
                        <input type="hidden" id="hidQDKLId" value="" />
                        <input type="hidden" id="hidHoSoKyLuatId" value="" />
                        <input type="hidden" id="hidInsertQDKLIdId" value="" />

                        <div class="form-group">
                            <label for="lbAddEditHoTenQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Họ và tên</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtAddEditHoTenQDKL" placeholder="Họ và tên nhân viên">
                            </div>
                            <label for="lbAddEditPhongToQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Phòng, tổ</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtAddEditPhongToQDKL" placeholder="Phòng, tổ, nhà máy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbTenQuyetDinhQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Tên quyết định kỷ luật</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <select id="ddlLoaiQuyetDinhQDKL" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbLyDoQuyetDinhQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Lý do kỷ luật</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtLyDoQuyetDinhQDKL" placeholder="Lý do kỷ luật">
                            </div>
                            <label for="lbHinhThucKyLuatQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Hình thức kỷ luật</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <select id="ddlLoaiHinhThucKyLuatQDKL" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbTienKyLuatQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Tiền kỷ luật</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" name="txtTienKyLuatQDKL" class="form-control has-feedback-right" id="txtTienKyLuatQDKL" placeholder="Tiền kỷ luật">
                            </div>
                            <label for="lbGhiChuQuyetDinhQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ghi chú quyết định kỷ luật</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtGhiChuQuyetDinhQDKL" placeholder="Ghi chú quyết định kỷ luật">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbSoQuyetDinhQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Số quyết định kỷ luật</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" name="txtSoQuyetDinhQDKL" class="form-control has-feedback-right" id="txtSoQuyetDinhQDKL" placeholder="Số quyết định kỷ luật">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbNgaKyQuyetDinhQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ngày ký quyết định kỷ luật</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtNgaKyQuyetDinhQDKL" placeholder="Ngày ký quyết định kỷ luật" />
                            </div>
                            <label for="lbTenNguoiKyQuyetDinhQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Tên người ký quyết định</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtTenNguoiKyQuyetDinhQDKL" placeholder="Tên người ký Qđ kỷ luật">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbNgayHieuLucQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ngày hiệu lực</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtNgayHieuLucQDKL" placeholder="Ngày hiệu lực">
                            </div>
                            <label for="lbNgayHetHanQDKL" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ngày hết hạn</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtNgayHetHanQDKL" placeholder="Ngày hết hạn">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSaveQDKL" class="btn btn-success">Lưu</button>
                                <button type="button" id="btnCancelQDKL" data-dismiss="modal" class="btn btn-default">Đóng</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>