
<div id="modal-His-Luong" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Lược sử Lương Nhân viên</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainHisLuong">
                        <input type="hidden" id="hidHisHoSoLuongId" value="" />

                        <div class="form-group">
                            <label for="lbHisLuongTenNhanVien" class="control-label col-md-2 col-sm-2 col-xs-12 ">Tên nhân viên</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtHisLuongTenNhanVien" placeholder="Tên nhân viên">
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <table id="tbl-HisLuong" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Tên quyết định</th>
                                                <th>Ghi chú</th>
                                                <th>Ngày ký</th>
                                                <th>Ngày hiệu lực</th>

                                            </tr>
                                        </thead>
                                        <tbody id="tblContentHisLuong"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_infoHisLuong" role="status" aria-live="polite">
                                <select id="ddl-show-pageHisLuong">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <span class="item-per-page" id="item-per-pageHisLuong">
                                    dòng/trang.
                                </span>
                                Tổng cộng: <strong id="lbl-total-recordsHisLuong"></strong>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate" id="datatable-checkbox_paginateHisLuong">
                                <ul id="paginationULHisLuong"></ul>
                            </div>
                        </div>
                    </div>
                    <script id="table-HisLuong" type="x-tmpl-mustache">
                        <tr>
                            <td>{{TenLoaiQuyetDinh}}</td>
                            <td>{{GhiChuQuyetDinh}}</td>
                            <td>{{NgayKyQuyetDinh}}</td>
                            <td>{{NgayHieuLuc}}</td>

                        </tr>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>