<div id="modal-add-edit-QDTV" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Tạo mới / Sửa Quyết định thôi việc</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal form-label-left input_mask" role="form" id="frmMainQDTV">
                        <input type="hidden" id="hidQDTVId" value="" />
                        <input type="hidden" id="hidHoSoThoiViecId" value="" />
                        <input type="hidden" id="hidInsertQDTVIdId" value="" />

                        <div class="form-group">
                            <label for="lbAddEditHoTenQDTV" class="control-label col-md-2 col-sm-2 col-xs-12 ">Họ và tên</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtAddEditHoTenQDTV" placeholder="Họ và tên nhân viên">
                            </div>
                            <label for="lbAddEditPhongToQDTV" class="control-label col-md-2 col-sm-2 col-xs-12 ">Phòng, tổ</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtAddEditPhongToQDTV" placeholder="Phòng, tổ, nhà máy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbTenQuyetDinhQDTV" class="control-label col-md-2 col-sm-2 col-xs-12 ">Tên quyết định </label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <select id="ddlLoaiQuyetDinhQDTV" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbLyDoQuyetDinhQDTV" class="control-label col-md-2 col-sm-2 col-xs-12 ">Lý do </label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtLyDoQuyetDinhQDTV" placeholder="Lý do ">
                            </div>
                            <label for="lbGhiChuQuyetDinhQDTV" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ghi chú quyết định về hưu</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtGhiChuQuyetDinhQDTV" placeholder="Ghi chú quyết định về hưu">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbSoQuyetDinhQDTV" class="control-label col-md-2 col-sm-2 col-xs-12 ">Số quyết định về hưu</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" name="txtSoQuyetDinhQDTV" class="form-control has-feedback-right" id="txtSoQuyetDinhQDTV" placeholder="Số quyết định về hưu">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbNgaKyQuyetDinhQDTV" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ngày ký quyết định về hưu</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtNgaKyQuyetDinhQDTV" placeholder="Ngày ký quyết định về hưu" />
                            </div>
                            <label for="lbTenNguoiKyQuyetDinhQDTV" class="control-label col-md-2 col-sm-2 col-xs-12 ">Tên người ký quyết định</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtTenNguoiKyQuyetDinhQDTV" placeholder="Tên người ký Qđ về hưu">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbNgayHieuLucQDTV" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ngày hiệu lực</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtNgayHieuLucQDTV" placeholder="Ngày hiệu lực">
                            </div>
                            <label for="lbNgayHetHanQDTV" class="control-label col-md-2 col-sm-2 col-xs-12 ">Ngày hết hạn</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-right" id="txtNgayHetHanQDTV" placeholder="Ngày hết hạn">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSaveQDTV" class="btn btn-success">Lưu</button>
                                <button type="button" id="btnCancelQDTV" data-dismiss="modal" class="btn btn-default">Đóng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>