<div id="modal-add-edit-VBDThem" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="overflow-y: auto; max-height:85%;  margin-top: 50px; margin-bottom:50px; ">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm mới / Sửa văn bản đến </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <div>
                        <form class="form-horizontal " role="form" id="frmMainVBDThem">
                            <input type="hidden" id="hidVanBanDenId" value="" />
                            <input type="hidden" id="hidInsertVBDThemId" value="" />

                            <input type="hidden" id="hidVanBanDenTTXuLy" value="" />

                            <input type="hidden" id="hidVanBanDenMaKhuVucId" value="" />
                            <input type="hidden" id="hidCodeFileGuidId" value="" />

                            <input type="hidden" id="hidDuongDanFile" value="" />

                            <div class="form-group">
                                <div class="col-md-12 pull-right" id="divbtnDenDienTu" style="text-align:center">
                                    <a class="btn btn-empty btnDenDienTu" style="color: #1f1d1d">
                                        <i class="fa fa-files-o" style="color: dodgerblue"></i> Văn bản đến điện tử
                                        <span id="spanDenVanBanDienTu" class="badge bg-red" style="font-size:x-large">0</span>
                                    </a>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label for="lbTrichYeu">Trích yếu <a style="color:red">(*)</a></label>
                                    <textarea class="form-control" id="txtTrichYeu" placeholder='Nội dung cơ bản của Văn bản đến'></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="lbLinhVuc">Lĩnh vực văn bản <a style="color:red">(*)</a></label>
                                    <select id="ddlLinhVuc" class="form-control" name="ddlLinhVuc"></select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="lbLoaiVanBan">Loại văn bản <a style="color:red">(*)</a></label>
                                    <select id="ddlLoaiVanBan" class="form-control" name="ddlLoaiVanBan"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="lbNgayBanHanh">Ngày văn bản ban hành <a style="color:red">(*)</a></label>
                                    <input type="text" name="txtNgayBanHanh" class="form-control has-feedback-right" id="txtNgayBanHanh" placeholder="Ngày ban hành">
                                </div>
                                <div class="col-sm-6">
                                    <label for="lbNgayDen">Ngày đến <a style="color:red">(*)</a></label>
                                    <input type="text" name="txtNgayDen" class="form-control has-feedback-right" id="txtNgayDen" placeholder="Ngày đến">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="lbSoVanBanDen">Sổ văn bản đến <a style="color:red">(*)</a></label>
                                    <select id="ddlSoVanBanDen" class="form-control" name="ddlSoVanBanDen"></select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="lbSoVanBanDen">Số văn bản đến <a style="color:red">(*)</a></label>
                                    <input type="text" name="txtSoVanBanDen" class="form-control has-feedback-right" id="txtSoVanBanDen" placeholder="Số văn bản đến">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="lbSoKyHieu">Số ký hiệu văn bản đến <a style="color:red">(*)</a></label>
                                    <input type="text" name="txtSoKyHieu" class="form-control has-feedback-right" id="txtSoKyHieu" placeholder="Số ký hiệu văn bản đến">
                                </div>
                                <div class="col-sm-3">
                                    <label for="lbNguoiKyVanBan">Tên người ký văn bản đến <a style="color:red">(*)</a></label>
                                    <input type="text" name="txtNguoiKyVanBan" class="form-control has-feedback-right" id="txtNguoiKyVanBan" placeholder="Người ký văn bản đến">
                                </div>
                                <div class="col-sm-3">
                                    <label for="lbNguoiKyVanBan">Chức vụ người ký </label>
                                    <input type="text" name="txtChucVuNguoiKy" class="form-control has-feedback-right" id="txtChucVuNguoiKy" placeholder="Chức vụ người ký">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <form class="form-horizontal " role="form" id="frmMainVBDThem2">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="lbFileVanBanDen">
                                        File văn bản đến
                                        <a style="color:red">(*) </a>
                                    </label>
                                </div>
                                <div id="divbtnFileVanBan" class="col-sm-6" style="text-align:right">
                                    <a class="btn btn-lin btnFileVanBan" style="color:cornflowerblue"><i class="fa fa-chain-broken"></i> Chọn file văn bản đính kèm</a>
                                </div>
                                <div class="col-sm-12">
                                    <div class="table-wrapper-scroll-y">
                                        <table id="tbl-FileVanBanDen" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Tên file văn bản</th>
                                                    <th>Số trang</th>
                                                    <th width="=10%">#</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl-contentFileVanBanDen"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <script id="table-FileVanBanDen" type="x-tmpl-mustache">
                            <tr>
                                <td>{{TenFile}}</td>
                                <td>{{SoTrang}}</td>
                                <th scope="row">
                                    <a class="btn btnDeleteFile" data-id="{{Id}}" data-toggle="tooltip" data-placement="top" title="Xóa file văn bản đến">
                                        <i class="fa fa-trash-o" style="color:red"></i>
                                        Xóa
                                    </a>
                                </th>
                            </tr>
                        </script>
                    </div>
                    <div>
                        <form class="form-horizontal " role="form" id="frmMainVBDThem3">
                            <div class="form-group">
                                <div class="col-sm-6 ">
                                    <label for="lbCoQuanBanHanh">Tên cơ quan ban hành <a style="color:red">(*)</a></label>
                                    <div class="input-group">
                                        <select id="ddlCoQuanBanHanh" class="form-control" name="ddlCoQuanBanHanh"></select>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" id="btnThemMoiCoQuan">Thêm mới</button>
                                        </span>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="lbNoiLuuBanChinh">Nơi lưu bản chính <a style="color:red"> </a></label>
                                    <input type="text" name="txtNoiLuuBanChinh" class="form-control has-feedback-right" id="txtNoiLuuBanChinh" placeholder="Nơi lưu bản chính ">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="lbLanhDaoDuyet">Tên lãnh đạo duyệt <a style="color:red">(*)</a></label>
                                    <select id="ddlLanhDaoDuyet" class="form-control" name="ddlLanhDaoDuyet"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="lbCapDoKhan">Cấp độ khẩn <a style="color:red">(*)</a></label>
                                    <select id="ddlCapDoKhan" class="form-control" name="ddlCapDoKhan"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="lbCapDoMat">Cấp độ mật <a style="color:red">(*)</a></label>
                                    <select id="ddlCapDoMat" class="form-control" name="ddlCapDoMat"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="lbNgonNguVanBan">Ngôn ngữ Văn bản </label>
                                    <select id="ddlNgonNguVanBan" class="form-control" name="ddlNgonNguVanBan"></select>
                                </div>                               
                                <div class="col-sm-3">
                                    <label for="lbHanTraLoiVanBan">Thời hạn giải quyết</label>
                                    <input type="text" name="txtThoiHanGiaiQuyet" class="form-control has-feedback-right" id="txtThoiHanGiaiQuyet">
                                </div>                           
                                <div class="col-sm-3">
                                    <label for="lbNgonNguVanBan">Danh mục hồ sơ </label>
                                    <select id="ddlDanhMucHoSo" class="form-control" name="ddlDanhMucHoSo"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="lbHanTraLoiVanBan">Số thứ tự trong hồ sơ </label>
                                    <input type="number" name="txtSoThuTuTrongHoSo" class="form-control has-feedback-right" id="txtSoThuTuTrongHoSo">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label for="lbGhiChu">Ghi chú <a style="color:red"></a></label>
                                    <textarea class="form-control" id="txtGhiChu" placeholder='Nội dung ghi chú của Văn bản đến'></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" id="btnSaveVBDThem" class="btn btn-success">Lưu tạm</button>
                                    <button type="button" id="btnCancelVBDThem" data-dismiss="modal" class="btn btn-default">Đóng</button>
                                    <button type="button" id="btnVBDThemChuyen" data-dismiss="modal" class="btn btn-warning">Lưu và chuyển lãnh đạo</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ln_solid"></div>

            </div>
        </div>
    </div>
</div>