
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="~/admin-side/loading/yandex.css" rel="stylesheet" />
    <link href="~/admin-side/loading/loading.css" rel="stylesheet" />
    <link href="~/admin-side/loading/demo.css" rel="stylesheet" />

}
@section Scripts{
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>

    <script src="~/admin-side/loading/loading.js" asp-append-version="true"></script>

    <script src="~/app/controllers/khoitao/index.js" asp-append-version="true"></script>
    <script>
        var khoitao = new khoitaoController();
        khoitao.initialize();
    </script>
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <small>
                <a class="btn btn-link ">
                    Tiền lương
                </a>
                >>
                <a class="btn btn-link btnBangChiPhiLuong">
                    Khởi tạo kỳ lương
                </a>
            </small>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="x_content">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>  <small>Danh sách Khởi tạo kỳ lương</small></h3>
                </div>
                <div class="title_right">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtNam" placeholder="Năm ">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
                        <div class="input-group">
                            <select id="ddlThang" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="page-title">
                <div class="title_left">
                    <h3>  <small></small></h3>
                </div>
                <div class="title_right">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="btnTimNhanVien" type="button">Tìm !</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right">
                        <div class="input-group">
                            <select id="ddlKhuVuc" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="page-title">
                <div class="title_left">
                    <h3>  <small></small></h3>
                </div>
                <div class="title_right">
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right">
                        <div class="input-group">
                            <button class="btn btn-round btn-warning" id="btnKhoiTaoKyLuong" type="button">Khởi tạo kỳ lương</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="x_panel">
                    <input type="hidden" id="hidLockLuongDotInId" value="" />
                    <input type="hidden" id="hidInsertLockLuongDotInId" value="" />

                    <table class="table table-hover tree" id="tblLockLuongDotIn">
                        <thead class="bordered-darkorange">
                            <tr>
                                <th>Kỳ khởi tạo</th>
                                <th>Tên khu vực</th>                               
                            </tr>
                        </thead>
                        <tbody id="lst-data-LockLuongDotIn"></tbody>
                    </table>
                    <script id="result-data-LockLuongDotIn" type="x-tmpl-mustache">
                        <tr data-id="{{Id}}">
                            <td>{{KyLockLuong}}</td>
                            <td>{{TenKhuVuc}}</td>                           
                        </tr>
                    </script>
                </div>
            </div>

            @*<div class="example col-lg-4 col-sm-6">
                <h3>Body loading</h3>
                <div>
                    <button id="loading-body-btn" class="btn btn-primary btn-block">Click me to add a loading state to the page's body</button>
                    <button id="loading-body2-btn" class="btn btn-primary btn-block">Second body loading, different configs</button>
                </div>

            </div>*@

        </div>

    </div>

</div>